@import 'variables';

/* Buttons */
.af-blueButton {
    padding: 10px 15px;
    border: none;
    background-color: $nynas-darkblue-color;
    color: $white-color;
    font-family: museo,sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
}

.af-blueButton:hover {
    cursor: pointer;
}

.af-searchButton {
    position: absolute;
    top: 3px;
    right: 0;
    height: 46px;
    width: 46px;
    background-color: $nynas-grey-color;
    border: none;
    background-size: 30px;
    background-position: center;
}

.sv-print-portlet {

    & a {
        position: relative;
    }

    & a:after {
        content: ' ';
        background-image: url($printIcon);
        background-repeat: no-repeat;
        display: inline-block;
        padding: 12px 0;
        position: absolute;
        width: 30px;
        margin-left: 10px;  
    }
}

.sv-decoration-contentpage-share-social {

    margin-left: 10px;

    & a {
        position: relative;
    }

    & p.normal {
        text-decoration: underline;
        -webkit-text-decoration-color: $nynas-darkblue-color;
        text-decoration-color: $nynas-darkblue-color;
    }

    & .sv-html-portlet {
        display: inline-block;
    }
    
    & .af-share-container {
        display: flex;
        background-color: $nynas-darkblue-color;
        padding: 8px 6px;
        border-radius: 6px;
        margin-top: -7px;

        & .af-share-facebook,
        & .af-share-linkedIn,
        & .af-share-twitter,
        & .af-share-mail {
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
            width: 25px;
            height: 22px;
        }

        & span {
            display: none;
        }

        & .af-share-facebook:hover,
        & .af-share-linkedIn:hover,
        & .af-share-twitter:hover,
        & .af-share-mail:hover {
            cursor: pointer;
        }

        & .af-share-facebook {
            background-image: url($facebookIcon);
            background-size: 12px;

            & a {
                width: 25px;
                height: 25px;
                display: inline-block;
            }
        }

        & .af-share-linkedIn {
            background-image: url($linkedInIcon);

            & a {
                width: 25px;
                height: 25px;
                display: inline-block;
            }
        }

        & .af-share-twitter {
            background-image: url($twitterIcon);

            & a {
                width: 25px;
                height: 25px;
                display: inline-block;
            }
        }

        & .af-share-mail {
            background-image: url($mailIcon);

            & a {
                width: 25px;
                height: 25px;
                display: inline-block;
            }
        }
    }
}

.af-generell-prevNext {
    margin: 40px 0;

    &--links {
        display: flex;
        justify-content: space-between;

        &-prev {
            position: relative;

            & a {
                margin-left: 40px;
            }
        }

        &-prev:before {
            content: ' ';
            background-image: url($prevNodeIcon);
            background-size: 25px;
            background-repeat: no-repeat;
            margin-right: 15px;
            width: 30px;
            height: 30px;
            display: inline-block;
            position: absolute;
        }

        &-next {
            position: relative;

            & a {
                margin-right: 40px;
            }
        }

        &-next:after {
            content: ' ';
            background-image: url($nextNodeIcon);
            background-size: 25px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 30px;
            height: 30px;
            right: 0;
            position: absolute;
        }
    }
}

.af-commentOfPageDialog {

    & button.env-button--primary {
        background-color: $nynas-darkblue-color;
        border-color: $nynas-darkblue-color;
        font-weight: 500;
    }

    & button.env-button--primary:hover {
        background-color:rgba(0, 47, 108, 0.7);
        border: 1px solid transparent;
    }

    & button.env-button--primary:active {
        background-color:$nynas-comments-hit;
    }

    & button.env-button--link {
        position: relative;
        font-weight: 500;

        &:after {
            content: ' ';
            display: inline-block;
            margin-left: 15px;
            background-image: url($plusSignIcon);
            position: absolute;
            width: 25px;
            height: 25px;
            transform: rotate(45deg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 22px 22px;
        }
    }
}