@import 'variables';

@media screen and (max-width: 880px) {

    .af-campus-site {

        & .af-startpage-listing {

            & .af-startpage-listing-items {

                & .af-startpage-listing-item {
                    width: 100% !important;

                    & .af-startpage-listing-item-img {
                        padding-top: 56.25% !important;
                    }
                }
            }
        }

        & .af-startpageMessages {

            & .af-startpageMessages--list {
    
                & .af-startpageMessages--listItem {
                    width: 90% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 590px) {

    .af-campus-site {

        & .af-popularShortcuts {

            & .af-popularShortcuts--item {

                & .af-popularShortcuts--itemName {
                    width: 110px !important;
                }
            }
        }
    }

}