@import 'variables';

.af-campus-site { 

    & .af-logo {

        & .sv-svg,
        & .sv-noborder {
            width: 130px !important;
            height: 130px !important;
            max-width: 130px !important;
            max-height: 130px !important; 
            margin-bottom: 0 !important;             
        }
    }

    & .af-theStartPage {

        & .af-startpageBigImage {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            height: 580px;

            & .af-pageWidth {
                display: flex;
                justify-content: space-between;

                & .sv-decoration-orange-knapp-campus {
                    width: 210px;
                    text-align: center;
                }
            }
    
            & .sv-font-toppmeny-aktiv {
                font-size: 50px;
                font-family: museo,sans-serif;
                font-weight: 700;
            }
        }

    }

    & header {
        background-color: $campus-black;
    }

    & .af-toolsMenyHeader {

        & a {
            text-decoration: none;
        }

        & * {
            color: $campus-light !important;
        }

        & .af-searchIcon.af-center:after {
            display: none;
        }
    }

    & .af-subMenu {

        & a {
            color: $white-color;
        }
    }

    & .af-startpageMessages {

        & .af-startpageMessages--list {

            & .af-startpageMessages--listItem {
                width: 32%;
            }
        }
    }

    & .af-startpage-listing-items {
	    display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin: 0 -5px;
        margin-bottom: 60px; 

        & .af-startpage-listing-item {
            width: 33.33333%;
            display: flex;

            & a {
                text-decoration: none;
                display: block;
                border: 5px solid $white-color;
                width: 100%;
                background-color: $campus-grey;
            }

            & .af-startpage-listing-item-img {
                background-size: cover;
                background-position: center;
                padding-top: 56.25%;
            }

            & .af-startpage-listing-item-textContent {
                padding: 30px 20px;
                
            }
        }

        & .af-startpage-listing-item.af-item-1 {

            & .af-startpage-listing-item-img {
                padding-top: 114.6%;
            }
        }

        & .af-startpage-listing-item.af-item-2 {
            width: 66.66666%;

            & .af-startpage-listing-item-img {
                padding-top: 56.5%;
            }
        }
    }

    & .af-popularShortcuts {
        justify-content: space-between;

        & .af-popularShortcuts--item {

            & .af-popularShortcuts--itemName {
                width: 186px;
                margin: 18px auto;
            }
        }
    }

    & .ai-campus-partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & .ai-campus-partners-partner {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 130px;
            height: 86px;
            margin: 15px 30px;
        }
    }

    & .sv-decoration-lank-till-kommun-webb-campus {
        background-color: #D8D8D8;
        padding-bottom: 25px;

        & .sv-decoration-generell-bla-knapp--external {
            padding: 15px 20px 15px 20px;
            
            &:after {
                display: none;
            }
        }
    }

    & .af-campus-schools {

        & .af-campus-schools-items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;

            & .af-campus-schools-item {
                width: 50%;
                margin-bottom: 10px;

                & a {
                    display: block;
                    border: 5px solid $white-color;
                    background-color: $campus-grey;
                    text-decoration: none;
                    height: 100%;
                }

                & .af-campus-schools-item-applyLink {
                    position: relative;

                    & .sv-decoration-orange-knapp-campus {
                        border: none;
                        top: -85px;
                        position: absolute; 
                        left: 0; 
                        right: 0; 
                        margin-left: auto; 
                        margin-right: auto; 
                        width: 100px;
                        background-color: $campus-orange;
                        line-height: 0;
                        color: $white-color;
                        padding: 25px 35px;
                    }
                }

                & .af-campus-schools-item-img {
                    padding-top: 56.25%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                & .af-campus-schools-item-textContent {
                    padding: 25px 25px 100px 25px;

                    & .af-campus-schools-item-textContent-title {
                        font-size: 20px;
                        font-family: museo,sans-serif;
                        font-weight: 700;
                        color: $nynas-darkgrey-color;
                        display: block;
                        margin-bottom: 12px;
                    }

                    & .af-campus-schools-item-textContent-desc {
                        font-size: 20px;
                        font-family: museo,sans-serif;
                        font-weight: 300;
                        color: $nynas-darkgrey-color;
                        display: block;
                    }
                }
            }
        }
    }

    & .af-related-information {

        & .sv-font-stor-svar {
            background-color: $campus-superdarkgrey;
        }
    }

    & .sv-related-portlet {

        & .sv-font-stor-svart {
            background-color: $campus-superdarkgrey;
        }
    }

    & .af-contactModule {

        & .sv-font-stor-svart {
            background-color: $campus-superdarkgrey;
        }
    }
}

.sv-decoration-orange-knapp-campus {
    padding: 15px 25px;
    background-color: $campus-orange;
    border-radius: 6px;
    display: inline-block;

    & p.normal {
        margin: 0 !important;
        color: $white-color;
    }

    & a {
        color: $white-color;
        text-decoration: none !important;
    }
}


@media screen and (max-width: 1190px) {
    .af-campus-site {

        & .af-popularShortcuts {
            justify-content: space-between;
    
            & .af-popularShortcuts--item {
    
                & .af-popularShortcuts--itemName {
                    width: 186px;
                }
            }
        }
    }
}
