@import 'variables';

.af-campus-site { 

    & .af-logo {

        & a {
            display: inline-block;
        }

        & .sv-svg,
        & .sv-noborder {
            width: 130px !important;
            height: 130px !important;
            max-width: 130px !important;
            max-height: 130px !important; 
            margin-bottom: 0 !important;             
        }
    }

    & .sv-decoration-generell-faktaruta {

        & .subheading3-utan-dragspel {
            background-color: $campus-superdarkgrey;
        }
    }

    & .af-theStartPage {

        & .af-startpageBigImage {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            height: 580px;

            & .af-pageWidth {
                display: flex;
                justify-content: space-between;

                & .sv-decoration-orange-knapp-campus {
                    width: 210px;
                    text-align: center;
                }
            }
    
            & .sv-font-toppmeny-aktiv {
                font-size: 50px;
                font-family: museo,sans-serif;
                font-weight: 700;
            }
        }

    }

    & header {
        background-color: $campus-black;
    }

    & .af-toolsMenyHeader {

        & a {
            text-decoration: none;
        }

        & * {
            color: $campus-light !important;
        }

        & .ai-googleTranslate-container {
            position: relative;
            z-index: 9;
        
            &-wrapper {
                width: 620px;
                position: absolute;
                right: -10px;
                top: 25px;
                display: none;
                border-radius: 6px;
                overflow: hidden;
        
                &-header {
                    text-align: left;
                    background-color: $campus-orange;
                    padding: 10px 0;
                    position: relative;
                    background-image: none !important;
        
                    & h2 {
                        font-family: museo;
                        font-weight: 700;
                        font-size: 19px;
                        margin: 0;
                        color: $campus-black !important;

                        &:before {
                            content: '';
                            display: inline-block;
                            background-image: url($blackTranslateIcon);
                            background-repeat: no-repeat;
                            width: 19px;
                            height: 19px;
                            background-size: 17px;
                            background-position: bottom;
                            margin-left: 22px;
                            margin-right: 10px;
                        }
            
                        & span {
                            font-family: museo;
                            font-weight: 500;
                            font-size: 15px;
                            color: $campus-black !important;
                            position: absolute;
                            right: 10px;
                            top: 12px;

                            &:after {
                                content: '';
                                display: inline-block;
                                background-image: url($blackCloseIcon);
                                background-repeat: no-repeat;
                                width: 16px;
                                height: 16px;
                                margin-right: 15px;
                                margin-left: 10px;
                                background-size: 16px;
                                vertical-align: bottom;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                &-body {
                    background-color: $campus-light;
                    text-align: left;
                    padding: 25px;
                    position: relative;
                    background-image: none !important;

                    & .ai-googleTranslate-container-wrapper-body-text {
                        color: $nynas-darkgrey-color !important;
                        font-size: 16px;
                        font-family: museo;
                        font-weight: 300;
                        width: 70%;
                        display: inline-block;
                    }

                    & .ai-googleTranslate-container-wrapper-body-googleContent {
                        display: inline-block;
                        position: absolute;
                        right: 25px;
                        top: 30px;
                    }
                }
            }
        }

        & .af-searchIcon.af-center:after {
            display: none;
        }
    }

    & .af-subMenu {
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;

        & a {
            color: $white-color;
        }

        & a.af-activeMenuItem {
            border-bottom: 3px solid $campus-orange;
        }
    }

    & .af-campus-inspiration-listing {
        margin-top: 40px;

        & .af-campus-inspiration-items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;

            &.ai-centerAlignment {
                justify-content: center;
            }

            & .af-campus-inspiration-item {
                width: 50%;
                margin-bottom: 10px;

                & a {
                    display: block;
                    border: 5px solid #fff;
                    background-color: #edebea;
                    text-decoration: none;
                    height: 100%;

                    & .af-campus-inspiration-item-img {
                        padding-top: 56.25%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    & .af-campus-inspiration-item-textContent {
                        padding: 25px 25px 15px 25px;

                        & .af-campus-inspiration-item-textContent-title {
                            font-size: 20px;
                            font-family: museo,sans-serif;
                            font-weight: 700;
                            color: #403e41;
                            display: block;
                            margin-bottom: 12px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    & .af-startpageMessages {

        & .af-startpageMessages--list {

            & .af-startpageMessages--listItem {
                width: 32%;
            }
        }
    }

    & .af-startpage-listing-items {
	    display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin: 0 -5px;
        margin-bottom: 60px; 

        & .af-startpage-listing-item {
            width: 33.33333%;
            display: flex;

            & a {
                text-decoration: none;
                display: block;
                border: 5px solid $white-color;
                width: 100%;
                background-color: $campus-grey;
            }

            & .af-startpage-listing-item-img {
                background-size: cover;
                background-position: center;
                padding-top: 56.25%;
            }

            & .af-startpage-listing-item-textContent {
                padding: 30px 20px;
                
            }
        }

        & .af-startpage-listing-item.af-item-1 {

            & .af-startpage-listing-item-img {
                padding-top: 114.6%;
            }
        }

        & .af-startpage-listing-item.af-item-2 {
            width: 66.66666%;

            & .af-startpage-listing-item-img {
                padding-top: 56.5%;
            }
        }
    }

    & .af-popularShortcuts {
        justify-content: space-between;

        & .af-popularShortcuts--item {

            & .af-popularShortcuts--itemName {
                width: 186px;
                margin: 18px auto;
            }
        }
    }

    & .ai-campus-partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & .ai-campus-partners-partner {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 130px;
            height: 86px;
            margin: 15px 30px;
        }
    }

    & .sv-decoration-lank-till-kommun-webb-campus {
        background-color: transparent;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        max-width: 1366px;
        margin: 0 auto;
        align-items: center;

        & img {
            margin-left: 25px;
        }

        & .sv-decoration-generell-bla-knapp--external {
            padding: 0 !important;
            margin: 0 !important;
            background-color: unset !important;
            
            &:after {
                display: none;
            }

            & a {
                background-color: $nynas-darkblue-color;
                display: block;
                padding: 15px 20px;
                border-radius: 10px;
            }
        }
    }

    & .af-campus-schools {

        & .af-campus-schools-items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;

            & .af-campus-schools-item {
                width: 50%;
                margin-bottom: 10px;

                & a {
                    display: block;
                    border: 5px solid $white-color;
                    background-color: $campus-grey;
                    text-decoration: none;
                    height: 100%;
                }

                & .af-campus-schools-item-applyLink {
                    position: relative;

                    & .sv-decoration-orange-knapp-campus {
                        border: none;
                        top: -85px;
                        position: absolute; 
                        left: 0; 
                        right: 0; 
                        margin-left: auto; 
                        margin-right: auto; 
                        width: 100px;
                        background-color: $campus-orange;
                        line-height: 0;
                        color: $white-color;
                        padding: 25px 35px;
                    }
                }

                & .af-campus-schools-item-img {
                    padding-top: 56.25%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                & .af-campus-schools-item-textContent {
                    padding: 25px;

                    & .af-campus-schools-item-textContent-title {
                        font-size: 20px;
                        font-family: museo,sans-serif;
                        font-weight: 700;
                        color: $nynas-darkgrey-color;
                        display: block;
                        margin-bottom: 12px;
                    }

                    & .af-campus-schools-item-textContent-desc {
                        font-size: 20px;
                        font-family: museo,sans-serif;
                        font-weight: 300;
                        color: $nynas-darkgrey-color;
                        display: block;
                    }
                }
            }
        }
    }

    & .af-related-information {

        & .sv-font-stor-svar {
            background-color: $campus-superdarkgrey;
        }
    }

    & .sv-related-portlet {

        & .sv-font-stor-svart {
            background-color: $campus-superdarkgrey;
        }
    }

    & .af-contactModule {

        & .sv-font-stor-svart {
            background-color: $campus-superdarkgrey;
        }
    }

    & .ai-buttonHolderGreyAndOrange-campus {
        display: flex;
        justify-content: space-between;
    }

    & .af-campus-hero {
        position: relative;
        border-bottom: 10px solid $campus-orange;
        background-color: #000;

        & .af-campus-hero-wrapper {
            max-width: 1800px;
            margin: 0 auto;
        }

        & .af-campus-hero-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 290px;
        }

        & .af-campus-hero-textContent {
            position: absolute;
            top: 100px;
            width: 850px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;

            & .af-campus-hero-textContent-title {
                max-width: 350px;
                display: block;
                color: $white-color;
                font-size: 25px;
            }
        }
    }

    & .af-hiddenSearchForm {
        background-color: $campus-black;

        & .sv-searchform-portlet {

            & form {

                & input[name=query] {
                    height: 42px;
                }

                & .af-searchButton.af-searchIcon {
                    background-color: $campus-orange;
                    height: 37px;
                    width: 38px;
    
                    &:after {
                        background-image: url($searchIconWhite);
                        background-size: 22px;
                    }
                }
            }
        }
    }

    .af-breadcrumb {

        & .divider {
            color: $campus-orange;
        }
    }

    .af-campus-educations {
        margin: -20px 0 40px 0;

        & .af-campus-educations-filter {
            background-color: $campus-grey;
            padding: 10px 0 20px 0;
            margin-bottom: 5px;

            & .af-campus-educations-filter-header {
                max-width: 850px;
                margin: 0 auto;
                font-size: 20px;
                font-family: museo,sans-serif;
                font-weight: 700;
                padding-bottom: 25px;
            }

            & .af-campus-educations-filter-types {
                max-width: 850px;
                margin: 0 auto;
                padding: 0;
                list-style-type: none;
                flex-wrap: wrap;
                display: flex;

                & .af-campus-educations-type {
                    margin-bottom: 40px;

                    & a {
                        margin-right: 20px;
                        margin-bottom: 20px;
                        font-weight: 500;
                        font-size: 15px;
                        padding: 10px 15px;
                        border-radius: 6px;
                        border: 1px solid #938e90;
                        outline: 0;    
                        text-decoration: none;
                        background-color: $white-color;
                        font-family: museo;
                        color: $nynas-darkgrey-color;
                    }

                    & a.active {
                        background-color: $campus-orange;
                        color: $campus-black;
                    }
                }
            }
        }

        & .af-campus-educations-items {
            max-width: 1366px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            & .af-campus-educations-item {
                width: 33.33333%;
                background-color: $campus-grey;
                margin-bottom: 5px;

                & a {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    border: 5px solid #fff;
                    text-decoration: none;

                    & .af-campus-educations-item-img {
                        background-size: cover;
                        background-repeat: no-repeat;
                        padding-top: 56.25%;
                        background-position: center;
                    }

                    & .af-campus-educations-item-textContent {
                        padding: 30px 20px;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .af-campus-projects {
        display: flex;
        flex-wrap: wrap;
        margin: 40px -5px;

        &-title {
            text-align: center;
            font-family: museo;
            font-weight: 700;
            font-size: 35px;
        }

        &-item {
            width: 50%;

            & a {
                text-decoration: none;
                display: block;
                border: 5px solid $white-color;
                background-color: $campus-grey;
            }

            &-img {
                background-size: cover;
                background-position: center;
                padding-top: 56.25%;
            }
            
            &-textContent {
                padding: 30px 20px;
                background-color: $campus-grey;
            }
        }
    }

    & .ai-campus-relatedContacts {
        margin: 40px auto;

        &--items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &--item {
            margin: 0 20px;

            & img {
                border-radius: 50%;
                width: 210px;
                height: 210px;
            }

            &-name {
                font-family: museo;
                font-weight: 700;
                font-size: 20px;
                color: $nynas-darkgrey-color;
            }

            &-title {
                font-family: museo;
                font-weight: 700;
                font-size: 20px;
                color: $nynas-darkgrey-color;
            }
        }
    }

    & .af-cookies {
        background-color: $campus-orange;

        &--wrapper {

            & p {
                font-family: museo;
                font-weight: 300;
                font-size: 20px;
                line-height: 28px;
            }
        }

        &--button {
            background-color: $white-color;
        }

        & * {
            color: $campus-black;
        }
    }

    & footer {

        & * {
            color: $white-color;
        }
    }

    & footer.af-flexRow {
        justify-content: space-between;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }

}

.sv-decoration-gra-knapp-campus {
    padding: 15px 25px;
    background-color: $campus-grey;
    border-radius: 6px;
    display: inline-block;
    margin: 20px 0;
    text-align: center;

    & p.normal {
        margin: 0 !important;
        color: $nynas-darkgrey-color;
    }

    & a {
        color: $nynas-darkgrey-color;
        text-decoration: none !important;
    }
}

.sv-decoration-orange-knapp-campus {
    padding: 15px 25px;
    background-color: $campus-orange;
    border-radius: 6px;
    display: inline-block;
    margin: 20px 0;
    text-align: center;

    & p.normal {
        margin: 0 !important;
        color: $campus-black;
    }

    & a {
        color: $campus-black;
        text-decoration: none !important;
    }
}

.af-campusStudyIcon {
    background-image: url($campusLogoIcon);
    background-repeat: no-repeat;
    background-position: left;
}

.af-starIcon {
    background-image: url($startIcon);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 39px;
}

@media screen and (max-width: 880px) {

    .af-starIcon {
        background-size: 26px;
    }
}


@media screen and (max-width: 1190px) {
    .af-campus-site {

        & .af-popularShortcuts {
            justify-content: space-between;
    
            & .af-popularShortcuts--item {
    
                & .af-popularShortcuts--itemName {
                    width: 186px;
                }
            }
        }
    }
}
