@import 'variables';

@media screen and (max-width: 880px) {

    .af-campus-site {

        .pagecontent {
            padding: 0 20px;
        }

        & .af-campus-orange-top-border {
            border-top: 5px solid $campus-orange !important;
        }

        & .sv-horizontal-column {

            & .af-logo {

                & .sv-svg,
                & .sv-noborder {
                    width: 100px !important;
                    height: 100px !important;
                    max-width: 100px !important;
                    max-height: 100px !important; 
                    margin-bottom: 0 !important;             
                }
            }
        }

        & .af-MobileMenu {

            &:before {
                color: #fff;
            }

            & .sv-font-toppmeny {
                color: #fff;
            }
        }

        & .af-startpage-listing {

            & .af-startpage-listing-items {

                & .af-startpage-listing-item {
                    width: 100% !important;

                    & .af-startpage-listing-item-img {
                        padding-top: 56.25% !important;
                    }
                }
            }
        }

        & .af-startpageMessages {

            & .af-startpageMessages--list {
    
                & .af-startpageMessages--listItem {
                    display: block !important;
                    width: unset !important;
                }
            }
        }

        & .af-theStartPage {

            & .af-startpageBigImage {
                height: 545px !important;
                background-image: url('/images/18.51ec72a6175022eb0cb7a1a/1602492208688/Toppbild-Sta%E2%95%A0%C3%A8ende_2C1A6873.jpg') !important;

                & .sv-font-toppmeny-aktiv {
                    font-size: 25px !important;
                    padding: 0 30px;
                }

                & > .sv-text-portlet {
                    padding-top: 200px !important;
                    padding-bottom: 0 !important;
                }

                & .af-pageWidth {
                    flex-direction: column;

                    .sv-decoration-orange-knapp-campus {
                        margin: 20px auto 0 auto !important;
                        width: 156px !important;

                        & p {
                            margin: 0 !important;
                        }
                    }
                }
            }
        }

        & header {
            margin-bottom: 0 !important;

            & .af-mobile-width100 {
                background-color: #000;

                & > .sv-horizontal-column {
                    height: 100px;
                }

                & > div {
                    justify-content: unset;
                    padding: 0;
                    position: relative;

                    & > div {
                        width: 50%;
                    }

                    & .af-logo {
                        width: 50%;
                    }

                    & .af-desktopNone {
                        width: 50%;
                        text-align: right;
                        margin-right: 25px;
                        margin-top: 25px;
                    }
                }
            }

            & .af-toolsMenyHeader {
                padding: 20px !important;

                & .af-searchIcon.af-center {
                    padding-right: 0;
                    background-size: 0;
                    background-position: center;
                    margin: 0;
                }

                & .af-searchIcon.af-center:after {
                    display: none;
                }

                & .ai-googleTranslate-container {
                
                    &-wrapper {
                        width: unset;
                        position: fixed;
                        right: 10px;
                        top: 15px;
                        left: 10px;
                
                        &-header {
                            text-align: left;
                            background-color: $campus-orange;
                            padding: 10px 0;
                            position: relative;
                
                            & h2 {
                                font-family: museo;
                                font-weight: 700;
                                font-size: 19px;
                                margin: 0;
                                color: $campus-black !important;
        
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    background-image: url($blackTranslateIcon);
                                    background-repeat: no-repeat;
                                    width: 19px;
                                    height: 19px;
                                    background-size: 17px;
                                    background-position: bottom;
                                    margin-left: 22px;
                                    margin-right: 10px;
                                }
                    
                                & span {
                                    font-family: museo;
                                    font-weight: 500;
                                    font-size: 15px;
                                    color: $campus-black !important;
                                    position: absolute;
                                    right: 10px;
                                    top: 12px;
        
                                    &:after {
                                        content: '';
                                        display: inline-block;
                                        background-image: url($blackCloseIcon) !important;
                                        background-repeat: no-repeat;
                                        width: 16px;
                                        height: 16px;
                                        margin-right: 15px;
                                        margin-left: 10px;
                                        background-size: 16px;
                                        vertical-align: bottom;
                                    }
        
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
        
                        &-body {
                            padding: 15px 25px 25px 25px;

                            & .ai-googleTranslate-container-wrapper-body-text {
                                font-size: 16px;
                                display: block;
                                width: 100%;
                            }
        
                            & .ai-googleTranslate-container-wrapper-body-googleContent {
                                display: block;
                                position: unset;
                                text-align: center;
                                padding-top: 15px;
                                background-color: $campus-light;
                            }
                        }
                    }
                }
            } 

            & .af-toolsMenyHeader:first-of-type {
                background-color: #000;
            }
        }

        & .sv-decoration-orange-knapp-campus {
            display: block;
            margin: 20px 30px;
        }

        & .sv-decoration-gra-knapp-campus {
            display: block;
            margin: 20px 30px;
        }

        & .af-campus-schools {

            & .af-campus-schools-items {
    
                & .af-campus-schools-item {
                    width: 100% !important;
    
                    & a {
                        display: block;
                        border: 5px solid $white-color;
                        background-color: $campus-grey;
                        text-decoration: none;
                        height: 100%;
                    }
    
                    & .af-campus-schools-item-applyLink {
                        position: relative;
    
                        & .sv-decoration-orange-knapp-campus {
                            font-size: 15px;
                            width: 75px !important;
                        }
                    }
    
                    & .af-campus-schools-item-textContent {
                        padding: 25px 25px 100px 25px;
    
                        & .af-campus-schools-item-textContent-title {
                            font-size: 18px;
                        }
    
                        & .af-campus-schools-item-textContent-desc {
                            display: none;
                        }
                    }
                }
            }
        }

        & .af-campus-inspiration-listing {
    
            & .af-campus-inspiration-items {
    
                & .af-campus-inspiration-item {
                    width: 100% !important;
    
                    & a {
    
                        & .af-campus-inspiration-item-textContent {
                            padding: 20px 20px 10px 20px !important;
    
                            & .af-campus-inspiration-item-textContent-title {
                                font-size: 18px !important;
                            }
                        }
                    }
                }
            }
        }

        & .ai-buttonHolderGreyAndOrange-campus {
            flex-direction: column;

            .sv-decoration-orange-knapp-campus + .sv-decoration-gra-knapp-campus {
                margin: 0 30px 20px 30px;
            }
        }

        & .af-campus-hero {
            border-top: 5px solid $campus-orange;
            border-bottom: 5px solid $campus-orange !important;

            & .af-campus-hero-img {
                max-width: 100% !important;
                background-position: center right 23% !important;
            }

            & .af-campus-hero-img.af-campus-hero-img-center {
                max-width: 100% !important;
                background-position: center !important;
            }
    
            & .af-campus-hero-textContent {
                display: none;
            }
        }

        & .af-MobileMenu {
            &:before {
                background-image: url($whiteHamburgerIcon);
                height: 16px;
            }

            &.af-MobileMenu--active {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        & .af-mobileMainMenu {
            background-color: $campus-black;

            & .af-mobileMainMenu--item {
                background-color: $campus-black;
            }
        }

        .af-campus-educations {
    
            & .af-campus-educations-filter {
                padding: 10px 20px 20px 20px !important;
            }
    
            & .af-campus-educations-items {
                margin: 0 -5px !important; 
    
                & .af-campus-educations-item {
                    width: 100% !important;
    
                    & a {
    
                        & .af-campus-educations-item-textContent {

                            & .af-campus-educations-item-textContent-title {
                                text-align: center;
                                font-size: 18px !important;
                            }

                            & .af-campus-educations-item-textContent-desc {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }

        .af-campus-projects {
    
            &-title {
                font-size: 35px;
            }
    
            &-item {
                width: 100% !important;
    
                & a {
                    width: 100%;
                }
                
                &-textContent {
                    padding: 30px 20px;
                }
            }
        }

        & .ai-campus-relatedContacts {
            margin: 40px auto 0 auto !important;
    
            &--items {
                flex-direction: column;

                & .ai-campus-relatedContacts--item {
                    position: relative;
                    padding: 20px 0;
                    height: 40px;
                    margin: 0 10px;
    
                    &-img {
                        position: absolute;
                        left: 20px;
    
                        & img {
                            border-radius: 50%;
                            width: 56px;
                            height: 56px;
                        }
                    }

                    &-name {
                        font-size: 14px;
                        text-align: left;
                        position: absolute;
                        top: 30px;
                        left: 90px;
                    }
        
                    &-title {
                        font-size: 14px;
                        text-align: left;
                        position: absolute;
                        top: 50px;  
                        left: 90px;
                    }
                }
            }
        }

        & .af-cookies {
            background-color: $campus-grey !important;
            border-top: 1px solid $campus-black;
    
            &--wrapper {
    
                & p {                    
                    font-size: 15px !important;
                    line-height: 24px !important;
                }
            }
    
            &--button {
                background-color: $campus-orange !important;
                font-size: 15px !important;
                margin: 15px 0 0 0 !important;
            }
    
            & * {
                color: $campus-black;
            }
        }

        & footer.af-flexRow {
            text-align: center;

            & img.sv-svg {
                width: 160px;
                height: 160px;
                margin-bottom: 0;
            }

            & .sv-font-sidfot-rubrik {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }

        & footer.sv-decoration-lank-till-kommun-webb-campus {
            flex-direction: column;

            & img {
                margin-left: 0;
                margin-bottom: 40px;
            }

            & .sv-decoration-generell-bla-knapp--external {

                & a {
                    padding: 15px 35px 15px 20px;
                }

                &:after {
                    top: 8px;
                }
            }
        }

        
    }
}

@media screen and (max-width: 590px) {

    .af-campus-site {

        & .af-popularShortcuts {

            & .af-popularShortcuts--item {

                & .af-popularShortcuts--itemName {
                    width: 110px !important;
                }
            }
        }
    }

}