@import 'variables';

.sv-grid-850 {

    & .pagecontent {

        & .af-project-shortinfo {
            margin-top: 0;
            display: flex;
            border-bottom: 1px solid $nynas-grey-color;
            padding-bottom: 5px;

            & > div {
                width: 50%;

                & .sv-font-brodtext-liten {
                    margin: 0;
                }
            }

            & > div:last-of-type {
                & .sv-font-brodtext-liten {
                    text-align: right;
                }

                & .sv-font-brodtext-liten:before {
                    content: ' ';
                    display: inline-block;
                    background-image: url($mapIcon);
                    background-repeat: no-repeat;
                    background-size: 13px;
                    background-position: center;
                    width: 25px;
                }
            }
        }
    }
}

.af-findProject {

    margin-bottom: 40px;

    & #af-mapAll {
        height: 500px;
        margin-bottom: 40px;
    }

    & .af-findProject-row {
        margin-bottom: 10px;
        padding: 20px;
        background-color: $nynas-grey-color;

        & .af-findProject-row--filter {
            max-width: 850px;
            margin: 0 auto;

            & .form-element {
                position: relative;

                & label {
                    display: none;
                }

                & input {
                    border: none;
                    padding: 10px 0;
                    width: 100%;
                    text-indent: 15px;
                    border-radius: 6px;
                }

                & button {
                    position: absolute;
                    top: 0;
                    right: -2px;
                    bottom: 0;
                    padding: 0 20px;
                    border: none;
                    background-color: $nynas-darkblue-color;
                    color: $white-color;
                    font-size: 20px;
                    font-weight: 500;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }

            & .af-findProject-row--filter-areas,
            & .af-findProject-row--filter-types,
            & .af-findProject-row--filter-processes {
                margin: 0;
                padding: 0;
                list-style-type: none;
                flex-wrap: wrap;
                display: flex;

                & .af-findProject-row--filter-area,
                & .af-findProject-row--filter-type,
                & .af-findProject-row--filter-process {

                    & a {
                        background-color: $white-color;
                        font-weight: 500;
                        font-size: 15px;
                        padding: 10px 15px;
                        border-radius: 6px;
                        border: 1px solid $nynas-darkgrey-color;
                        outline: none;
                        text-decoration: none;

                        margin: 20px 20px 0 0;
                        display: inline-block;
                    }

                    & .active {
                        background-color: $nynas-darkblue-color;
                        color: $white-color;
                    }
                }
            }

            & .sv-font-brodtext-fet {
                position: relative;
                margin: unset;
            }

            & .af-accordionText {
                position: absolute;
                right: 0;
                top: 2px;
                font-size: 18px;
                font-weight: 500;
                padding-right: 28px;
                z-index: 9;
            }
    
            & .af-accordionText:hover {
                cursor: pointer;
            }

            & .af-closed:after {
                content: ' ';
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px;
                position: absolute;
                right: 0;
                top: 4px;
                height: 18px;
                width: 18px;
                transition: all 0.3s ease;
            }
    
            & .af-open:after {
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
        }
    }

    & .af-findProject-filterActions {
        max-width: 850px;
        margin: 30px auto 30px auto;
        display: flex;
        justify-content: space-between;

        & .af-showMap {
            position: relative;
            padding-right: 40px;
        }

        & .af-showMap:after {
            content: '';
            position: absolute;
            background-image: url($mapIconWhite);
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: right;
            width: 20px;
            height: 20px;
            top: 8px;
            right: 12px;
        }
    }

    & .af-findProject-map {
        max-width: 1192px;
        margin: 0 auto;
        display: none;
    }

    & .af-findProject-result {
        background-color: $nynas-grey-color;

        & .af-findProject-result-width {
            max-width: 1366px;
            margin: 0 auto;
            padding: 26px 40px 40px 40px;

            & p.normal {
                margin: unset;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }
    }

    & .af-findProject-projects {

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        & .af-findProject-project {
            width: calc(33.3333% - 15px);
            margin: 0 20px 20px 0;
            background-color: $white-color;
            border-radius: 6px;

            & a {
                text-decoration: none;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            & .af-findProject-project-img {
                padding-top: 56.25%;
                background-size: 100%;
                background-repeat: no-repeat;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }

            & .af-findProject-project-info{
                padding: 30px 30px 26px 30px;
                background-color: $white-color;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;

                & * {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                & span {
                    font-weight: 300;
                }

                & .af-findProject-project-multiProject {

                    & .af-findProject-project-multiProject-title {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }

                    & .af-findProject-project-multiProject-list {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        & li {
                            font-weight: 300;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                & .af-findProject-project-info-name {
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                & .af-findProject-project-info-detailPlan {
                    background-color: $nynas-grey-color;
                    display: inline-block;
                    padding: 5px 10px;
                    border-radius: 6px;
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                }

                & .af-findProject-project-info-bottom {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;
                    margin-bottom: 0;
    
                    & .af-findProject-project-info-address {
                        font-size: 13px;
                        font-weight: 500;
                    }

                    & .af-findProject-project-info-map {
                        font-size: 13px;
                        font-weight: 500;
                        text-decoration: underline;
                        text-decoration-color: $nynas-darkblue-color;
                        padding-right: 20px;
                        position: relative;
                    }

                    & .af-findProject-project-info-map:after {
                        position: absolute;
                        content: ' ';
                        height: 15px;
                        width: 15px;
                        display: inline-block;
                        top: 0;
                        right: 0;
                        background-image: url($mapIcon);
                    }
                }
            }  
        }
    }
}

.af-cityProjectPage {

    & .af-cityProjectPage-header {
        background-color: $nynas-darkblue-color;
        padding: 25px 50px;
        margin-bottom: 5px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        color: $white-color;
        position: relative;
        padding-left: 80px;
        font-weight: 700;
    }

    & .af-cityProjectPage-header:before {
        content: '';
        position: absolute;
        background-image: url($mapIconWhite);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: right;
        width: 25px;
        height: 25px;
        top: 29px;
        left: 50px;
    }

    & .af-cityProjectPage-body {

        #af-detailMap {
            width: 100%;
            height: 350px;
        }
    }
}

@media screen and (max-width: 880px) {

    .af-cityProjectPage {

        & .af-cityProjectPage-header {
            font-size: 20px !important;
        }

        & .af-cityProjectPage-header:before {
            background-size: 15px;
            top: 24px;
        }
    }

    .af-findProject {

        & .sv-font-brodtext-fet.af-closed {
            font-size: 18px;
            font-weight: 700;
        }

        & .af-accordionText {
            font-size: 13px !important;
        }

        & .af-findProject-row {

            & .af-findProject-row--filter {

                & .af-closed:after {
                    width: 13px;
                    height: 13px;
                }

                & .form-element {

                    & button {
                        right: -4px;
                    }
                }
            }
        }  

        & .af-findProject-filterActions {
            padding: 0 30px;
            margin: 20px auto 20px auto;
        }

        & .af-findProject-result {

            & .af-findProject-result-width {
                padding: 20px;

                & p.normal {
                    font-size: 14px;
                    margin-bottom: 14px;
                }

                & .af-findProject-projects {

                    & .af-findProject-project {
                        width: 100%;
                        margin-right: 0;

                        & .af-findProject-project-info {
                            padding: 20px 30px 16px 30px;
                        }
                    }
                }
            }
        }
    }
}

.af-findProject--multiPage {
    background-color: $nynas-grey-color;

    & .af-findProject-result-width {
        max-width: 1366px;
        margin: 0 auto;
        padding: 40px;

        & .af-findProject-projects {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            & .af-findProject-project {
                width: calc(50% - 20px);
                background-color: #fff;
                border-radius: 6px;
                margin-bottom: 20px;
                margin-right: 20px;

                & a {
                    text-decoration: none;
                }

                & .af-findProject-project-img {
                    padding-top: 56.25%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }

                & .af-findProject-project-info {
                    padding: 30px 30px 26px 30px;
                    background-color: $white-color;
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;

                    & span {
                        font-weight: 300;
                    }
                }

                & .af-findProject-project-info-name {
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                & .af-findProject-project-info-area {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                & .af-findProject-project-info-type {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                & .af-findProject-project-info-form {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                & .af-findProject-project-info-detailPlan {
                    background-color: $nynas-grey-color;
                    display: inline-block;
                    padding: 5px 10px;
                    border-radius: 6px;
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }    
}

@media screen and (max-width: 880px) {

    .af-findProject--multiPage {

        & .af-findProject-projects {

            & .af-findProject-project {
                width: 100% !important;
                margin-right: 0 !important;
            }
        }
    }
}