@import 'variables';

/* Form */
.af-textInputField {
    height:55px;
    text-align: center;
    border: none;
    font-weight: 700;
    padding: 0;
}

div[role=search] {
    position: relative;
}

.af-hiddenSearchForm {
    display: none;
    position: relative;
    text-align: center;
    padding: 20px 0;
    background-color: $nynas-search-bg;

    & form {

        width: 850px;
        margin: 0 auto;

        & input[name=query] {
            height: 55px;
            text-align: center;
            border: none;
            outline: none;
            width: 100%;
            font-weight: 700;
        }

        & .af-searchIcon {
            position: absolute;
        }

        & .af-searchIcon:after {
            background-image: url($searchIcon);
            background-repeat: no-repeat;
            background-position: right;
            content: ' ';
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;

            background-size: 30px;
            background-position: center;
        }

        & .af-searchButton {
            height: 51px; 
        }

        /*
        & div[role=search]:after {
            content: ' ';
            position: absolute;
            top: 3px;
            right: 0;
            height: 51px;
            width: 47px;
            background-size: 25px;
            background-position: center;
            background-image: url($searchIcon);
            background-repeat: no-repeat;
            transition: transform .3s ease-in-out;
        }
        */
    }
}

.sv-facetedsearch-portlet {

    position: relative;

    & .af-margin {
        margin: 20px 0 60px 0;
    }

    & input[name=query] {
        width: 100%;
        padding: 16px 0;
        border: 1px solid $nynas-darkblue-color;
        border-radius: 10px;
        text-indent: 15px;
    }

    & input[name=submitButton] {
        background-color: $nynas-darkblue-color;
        border: none;
        position: absolute;
        top: 0;
        right: -2px;
        height: 100%;
        color: $white-color;
        padding: 0 45px 0 25px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-image: url($searchIconWhite);
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px;
    }

    & .sv-search-facets {
        margin-bottom: 60px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        & .af-open {
            background-image: url($hideIconWhite) !important;
        }
    
        & .af-closed {
            background-image: url($plusSignIconWhite);
            background-repeat: no-repeat;
            background-position: right 30px center;
            background-size: 20px;
        }

        &-header {
            background-color: #002F6C;
            padding: 25px 50px;
            margin-bottom: 5px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: #fff;
            position: relative;

            & .af-accordionText {
                position: absolute;
                right: 65px;
                top: 28px;
                font-weight: 500;
                font-size: 20px;
            }    
        }

        &-header:hover {
            cursor: pointer;
        }

        & .sv-search-facet-backgroundColor {
            background-color: $nynas-grey-color;
            padding: 50px;
            display: flex;
            justify-content: space-around;

            & .af-facet-count {
                float: right;
            }
        }

        & .sv-search-facet-items {

            & .sv-search-facet-item {
                width: 100%;

                & a {
                    margin-right: 25px;
                }
            }
        }
    }
}

.sv-form-portlet {

    & label {
        margin: 60px 0 12px 0;
        display: inline-block;
    }

    & .sv-formFieldRow {

        & .sv-formField {

            & input[type=submit] {
                float: right;
                background-color: $nynas-darkblue-color;
                color: $white-color;
                padding: 12px 18px;
                border-radius: 6px; 
                font-family: museo,sans-serif;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}