@import 'variables';

.af-currentFilter {

    & p.normal {
        font-weight: 700;
        margin-bottom: 15px;
    }

    &--areas {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;

        & li {

            margin-right: 20px;
            & a {
                font-size: 15px;
                font-weight: 500;
                border: 1px solid $nynas-darkgrey-color;
                border-radius: 6px;
                padding: 10px 20px;
                text-decoration: none;
                display: inline-block;
                margin-bottom: 20px;
            }

            & a.active {
                background-color: $nynas-darkblue-color;
                color: $white-color;
                outline: none;
            }
        }
    }

    & .sv-font-stor-svart {
        background-color: $nynas-darkblue-color;
        padding: 20px 50px;
        margin-top: 60px;
        font-size: 25px;
        border-radius: 6px;
        color: #fff;
        position: relative;

        &:after {
            content: ' ';
            background-image: url($plusSignIconWhite);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px;
            position: absolute;
            right: 30px;
            width: 30px;
            height: 32px;
            transition: all 0.3s ease;
        }

        &.af-open:after {
            transform: rotate(45deg);
            transition: all 0.3s ease;
        }
    }

    .af-accordionText {
        position: absolute;
        right: 30px;
        top: 25px;
        padding-right: 50px;
        font-weight: 500;
        font-size: 18px;
        z-index: 99;
    }

    .af-accordionText:hover {
        cursor: pointer;
    }

    & .af-oldArticle {
        font-size: 15px;
        background-color: $nynas-grey-color;
        padding: 4px;
        border-radius: 6px;
    }

    & .af-oldArticle-before:before {
            font-size: 15px;
            padding: 4px;
            margin: 0 20px;
            content: '\2022';
    }

    &--dateFilter {

        &--inner {
            background-color: $nynas-comments-bg;
            padding: 50px 70px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            display: none;

            &--clear {
                display: inline-block;
                padding: 15px 20px 15px 20px;
                margin-top: 10px;

                & a {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            &--year, &--month {

                display: inline-block;
                vertical-align: top;
                max-width: 290px;

                &--title {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 15px 150px 15px 20px;
                    background-color: $nynas-darkblue-color;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    color: $white-color;
                    position: relative;
                }

                &--title:hover {
                    cursor: pointer;
                }

                &--title:after {
                    content: ' ';
                    display: inline-block;
                    position: absolute;
                    top: 18px;
                    right: 15px;
                    background-image: url($plusSignIconWhite);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 25px;
                    width: 20px;
                    height: 20px;
                    transition: all 0.3s ease;
                }

                &--title.af-open:after {
                    transform: rotate(45deg);
                    transition: all 0.3s ease;
                }

                &--list {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    background-color: $white-color;
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                    display: none;

                    &Item {
                        text-align: center;
                        padding: 15px;
                        border-bottom: 1px solid $nynas-black-color;

                        & a {
                            text-decoration: none;
                            font-size: 15px;
                            font-weight: 300;
                        }

                        & .active {
                            text-decoration: underline;
                        }
                    }

                    &Item:last-of-type {                    
                        border-bottom: none;
                    }
                }

                & .af-currentFilter--dateFilter--inner--month--title {
                    width: 120px;
                }

                & .af-currentFilter--dateFilter--inner--month--list {
                    display: none;
                    flex-wrap: wrap;

                    & .af-currentFilter--dateFilter--inner--month--listItem {
                        width: calc(100% / 3);
                        box-sizing: border-box;
                        border: none;
                    }

                    & .af-currentFilter--dateFilter--inner--month--listItem:nth-of-type(3n + 1) {
                        border-bottom: 1px solid $nynas-black-color;
                        border-right: 1px solid $nynas-black-color;
                    }

                    & .af-currentFilter--dateFilter--inner--month--listItem:nth-of-type(3n + 2) {
                        border-bottom: 1px solid $nynas-black-color;
                        border-right: 1px solid $nynas-black-color;
                    }

                    & .af-currentFilter--dateFilter--inner--month--listItem:nth-of-type(3n + 3) {
                        border-bottom: 1px solid $nynas-black-color;
                    }

                    & .af-currentFilter--dateFilter--inner--month--listItem:nth-of-type(10) {
                        border-bottom: none;
                    }

                    & .af-currentFilter--dateFilter--inner--month--listItem:nth-of-type(11) {
                        border-bottom: none;
                    }

                    & .af-currentFilter--dateFilter--inner--month--listItem:nth-of-type(12) {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    &--result {
        margin: 60px 0;

        & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            & li {
                border-bottom: 1px solid $nynas-currentFilter-border-color;
                padding: 50px 0;

                & .af-currentFilter--result--title {
                    font-size: 25px;
                    font-weight: 700;
                    margin: 17px 0 7px 0;

                    & a {
                        text-decoration: none;
                    }
                }

                & .af-currentFilter--result--pubDate {
                    font-size: 16px;
                    font-weight: 500;
                    position: relative;
                    padding-left: 22px;
                    text-indent: 12px;
                }

                & .af-currentFilter--result--pubDate:before {
                    content: ' ';
                    display: inline-block;
                    background-image: url($clockIcon);
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                & .af-currentFilter--result--area {
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            & li:first-of-type {
                border-top: 1px solid $nynas-currentFilter-border-color;
            }
        }
    }
}

.af-cookies {
    background-color: $nynas-darkblue-color;
    color: $white-color;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

    &--wrapper {
        max-width: 850px;
        margin: 0 auto;
        position: relative;
        padding: 32px 0;

        & a {
            color: $white-color;
            font-weight: 700;
        }

        & button {
            position: absolute;
            top: 43px;
            right: -130px;
            font-size: 15px;
            font-weight: 500;
            padding: 12px 20px;
            border-radius: 6px;
            border: none;
            background-color: $nynas-grey-color;
        }

        & button:hover {
            cursor: pointer;
        }
    }
}

.af-importantMessage {

    & * {
        color: #000;
    }

    &.af-Notis {
        background-color: $nynas-lightblue-color;

        & .af-importantMessage--icon {
            background-image: url($infoIcon);
        }
    }

    &.af-Fara {
        background-color: $nynas-outline-color;

        & .af-importantMessage--icon {
            background-image: url($warningIcon);
        }
    }

    &.af-smallMessage {

        & .af-importantMessage--wrapper {
            padding: 20px 0;
            max-width: 650px;
        }

        & .af-importantMessage--icon {
            width: 32px;
            height: 30px;
        }

        & .af-importantMessage--contentTitle {
            font-size: 25px;
            margin-bottom: 0;
        }

        & .af-importantMessage--contentText {
            display: none;
        }
    }

    &--content {
        display: inline-block;
        margin-left: 25px;
        width: 90%;
    }

    &--icon {
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: top;
    }

    &--contentTitle {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 18px;
    }

    &--wrapper-outer {
        margin: 0 auto;
        max-width: 1366px;
        position: relative;
    }

    &--hide {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 18px;
        font-weight: 500;
        padding-right: 30px;
    }

    &--hide.af-open:after {
        transform: rotate(45deg);
        transition: all 0.3s ease;
    }

    &--hide:hover {
        cursor: pointer;
    }

    &--hide:after {
        position: absolute;
        top: 1px;
        right: 2px;
        content: ' ';
        background-image: url($plusSignIcon);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        width: 20px;
        transition: all 0.3s ease;
    }

    &--wrapper {
        margin: 0 auto;
        max-width: 850px;
        padding: 45px 0;
    }
}

.af-event-calendar {

    margin: 0 -5px;

    & h1 {
        display: none;
    }

    & a {
        text-decoration: none;
    }

    & .af-event-calendar-dateRow, & .af-event-calendar-categoryRow {

        padding: 20px;
        background-color: $nynas-grey-color;

        & .af-event-calendar-dateRow--filter,
        & .af-event-calendar-categoryRow--filter {
            max-width: 850px;
            margin: 0 auto;
            position: relative;

            & .af-closed:after {
                content: ' ';
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px;
                position: absolute;
                right: 0;
                top: 4px;
                height: 18px;
                width: 18px;
                transition: all 0.3s ease;
            }
    
            & .af-open:after {
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
        }

        & .af-event-calendar-dateRow--filter {
            display: flex;
            justify-content: space-between;

            & .form-element {
                position: relative;
                padding: 30px 20px;

                & label {
                    position: absolute;
                    left: 20px;
                    z-index: 9;
                    top: 20px;
                }

                & input {
                    position: absolute;
                    left: 0;
                    padding-left: 90px;
                    top: 20px;
                }
            }

            & .form-element:nth-child(even) {
                margin-left: 10px;
            }

            & .form-element:nth-child(odd) {
                margin-right: 10px;
            }
        }

        & .form-element {
            background-color: $white-color;
            border-radius: 6px; 
            padding: 20px;
            width: 100%;
            position: relative;

            & input {
                border: none;
                width: 200px;
                outline: none;
            }

            & input:hover {
                cursor: pointer;
            }
        }

        & .form-element:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 11px;
            right: 10px;
            background-image: url($datepickerIcon);
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center;
            width: 40px;
            height: 40px;
        }

        & p {
            margin: unset;
            margin-bottom: 0;
        }

        & .af-accordionText {
            position: absolute;
            right: 0;
            top: 2px;
            font-size: 18px;
            font-weight: 500;
            padding-right: 25px;
            z-index: 9;
        }

        & .af-accordionText:hover {
            cursor: pointer;
        }

        & .af-event-calendar-categoryRow--filter-tags {
            margin: 0;
            padding: 0;
            list-style-type: none;
            flex-wrap: wrap;
            display: flex;
            padding-top: 25px;

            & .af-event-calendar-categoryRow--filter-tag {
                margin-right: 20px;
                margin-bottom: 20px;

                & a {
                    background-color: $white-color;
                    font-weight: 500;
                    font-size: 15px;
                    padding: 10px 15px;
                    border-radius: 6px;
                    border: 1px solid $nynas-uppleva-grey;
                    outline: none;
                }

                & .active {
                    background-color: $nynas-uppleva-blue;
                }
            }
        }
    }

    & .af-event-calendar-clearFilterRow {
        margin: 10px 0 40px 0;
        background-color: $nynas-grey-color;
    }

    & .af-event-calendar-clearFilter {

        max-width: 850px;
        margin: 0 auto;
        padding: 20px 0;
    }

    & .af-event-calendar-dateRow {
        margin-bottom: 10px;
    }

    & .af-event-calendar-results {
        max-width: 1366px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        & .af-event-calendar-result {
            width: 33.33333%;
            background-color: $nynas-lightgreen-color;
            margin-bottom: 5px;

            & a {
                display: flex;
                height: 100%;
                flex-direction: column;
                border: 5px solid $white-color;
            }

            & .af-event-calendar-result-img {
                background-size: contain;
                background-repeat: no-repeat;
                padding-top: 56.25%;
            }

            & .af-event-calendar-info {
                padding: 30px 20px;
                display: flex;

                & .af-event-calendar-result-name {
                    font-weight: 700;
                    font-size: 20px;
                    max-width: 78%;
                    margin-left: 10px;
                    margin-top: 5px;

                    & .af-event-calendar-result-cats {
                        font-size: 17px;
                        font-weight: 300;
                        margin-top: 10px;
                    }
                }

                & .af-event-calendar-result-date {
                    background-color: $white-color;
                    border-radius: 50%;
                    text-align: center;
                    width: 75px;
                    height: 75px;
                }

                & .af-date {
                    font-weight: 700;
                    font-size: 25px;
                    margin: 0;
                    margin-top: 10px;
                    width: 75px;
                }

                & .af-month {
                    font-weight: 700;
                    font-size: 17px;
                    margin: 0;
                }
            }
        }
    }

    & .af-loadMoreEvents {
        max-width: 1366px;
        text-align: center;
        margin: 0 auto;

        & .sv-decoration-generell-bla-knapp--intern {
            margin-bottom: 0;
        }
    }
}

.af-404icon {
    float: right;
    background-color: $nynas-darkblue-color;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url($error404PageIcon);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
}

.af-articleListing {
    margin: 60px 0;

    & ul {

        & .sv-channel-item:first-of-type {
            border-top: 1px solid $nynas-currentFilter-border-color;
        }
        
        .sv-channel-item {
            border-bottom: 1px solid $nynas-currentFilter-border-color;
            padding: 50px 0;

            & .sv-font-brodtext-liten {
                display: block;
                font-size: 16px;
                font-weight: 500;
                position: relative;
                padding-left: 22px;
                text-indent: 12px;
            }

            & .sv-font-brodtext-liten:before {
                content: ' ';
                display: inline-block;
                background-image: url($clockIcon);
                width: 16px;
                height: 16px;
                position: absolute;
                top: 0;
                left: 0;
            }

            & .subheading {
                font-size: 25px;
                font-weight: 700;
                margin: 17px 0 7px 0;
            }
        }
    }
}

.af-bygglovProcess {

    position: relative;
    margin-top: 40px;

    & .af-bygglovProcess-line {
        position: absolute;
        border-bottom: 1px solid $nynas-uppleva-grey;
        left: 0;
        right: 0;
        top: 29px;
    }

    & .af-bygglovProcess--steps {

        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        & .af-bygglovProcess--step {
            width: 60px;
            height: 60px;
            background-color: $nynas-comments-bg;
            position: relative;
            border-radius: 50%;

            & a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-decoration: none;
                border-radius: 50%;
                font-weight: 700;
            }
        }

        & .activeStep {
            background-color: $nynas-search-bg;

            & a {
                color: $white-color;
            }
        }
    }

    & .af-bygglovProcess--step:hover {
        cursor: pointer;
    }
}

.af-guide.af-generell-prevNext {
    margin: 40px 0;

    & .af-generell-prevNext--links {

        display: flex;
        justify-content: space-between;

        & a {
            background-color: $nynas-darkblue-color;
            color: $white-color;
            text-decoration: none;
            border-radius: 6px;
        }

        &-prev {
            position: relative;

            & a {
                padding: 10px 20px 10px 60px;
                margin-left: 0;
                font-weight: 500;
            }

            & a:before {
                content: ' ';
                background-image: url($arrowForwardWhite);
                background-size: 25px;
                background-repeat: no-repeat;
                margin-right: 15px;
                width: 25px;
                height: 25px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 10px;
                transform: scaleX(-1);
            }
        }

        &-prev:before { 
            display: none;
        }

        &-next {
            position: relative;

            & a {
                padding: 10px 60px 10px 20px;
                margin-right: 0;
                font-weight: 500;
            }

            & a:before {
                content: ' ';
                background-image: url($arrowForwardWhite);
                background-size: 25px;
                background-repeat: no-repeat;
                margin-right: 0;
                width: 25px;
                height: 25px;
                display: inline-block;
                position: absolute;
                top: 0;
                right: 10px;
            }
        }

        &-next:after {
            display: none;
        }
    }
}