@import 'variables';

@media screen and (min-width: 1550px) {

    .af-landingpage {
        margin-top: -40px;
    }

    .af-wave {

        & .af-landingpage--bigImage {
            height: 350px;
        }

        & .af-wave-grey--shape {
            top: 205px;
        }
    }

    .af-theStartPage {

        & .af-startpageBigImage {
            height: 480px;
        }

        & .af-wave {

            & .af-wave--shape {
                padding: 6% 0 0 0;
            }
        }
    }

    .af-uppleva-site {

        & .af-startpageBigImage {
            height: 480px;
        }

        & .af-wave--shape {
            padding: 6% 0 0 0;
        }
    }

    .af-tillvaxt-site {

        & .af-startpageBigImage {
            height: 480px;
        }

        & .af-wave--shape {
            padding: 6% 0 0 0;
        }
    }

    .af-campus-site {

        & .af-startpageBigImage {
            height: 580px;
        }
    }
}

@media screen and (min-width: 2550px) {

    .af-wave {

        & .af-wave-grey--shape {
            top: 170px;
        }
    }
}