@import 'variables';

@media screen and (min-width: 1550px) {

    .af-landingpage {
        margin-top: -40px;
    }

    .af-wave {

        & .af-wave-grey--shape {
            top: 110px;
        }
    }

    .af-theStartPage {

        & .af-wave {

            & .af-wave--shape {
                padding: 6% 0 0 0;
            }
        }
    }

    .af-uppleva-site {

        & .af-wave--shape {
            padding: 6% 0 0 0;
        }
    }

    .af-tillvaxt-site {

        & .af-wave--shape {
            padding: 6% 0 0 0;
        }
    }
}