@import 'variables';

/* Icons */
.af-searchIcon {
    background-image: url($searchIcon);
    background-repeat: no-repeat;
    background-position: right;
}

.af-messageIcon {
    background-image: url($messageIcon);
    background-repeat: no-repeat;
    background-position: left;
}

.af-eventsIcon {
    background-image: url($eventsIcon);
    background-repeat: no-repeat;
    background-position: left;
}

.af-arrowDownIcon {  
    background-image: url($arrowDownIcon);
    background-repeat: no-repeat;
    background-position: left;
}

.af-aktuelltIcon {
    background-image: url($activeIcon);
    background-repeat: no-repeat;
    background-position: left;
}

/* Layout */
a.normal,
.normal a,
a.sv-font-ingress,
.sv-font-ingress a {
    text-decoration: underline;
    text-decoration-color: $nynas-darkblue-color;
}

a[href*="/download/"] {
    margin-right: 5px; 
}

a[href*="/download/"]:after {
    content: ' ';
    background-image: url($attachedFile);
    background-repeat: no-repeat;
    width: 20px;
    display: inline-block;
    border: none;
    margin-left: 10px;
}

.af-center {
    text-align: center;
}

.af-relative {
    position: relative;
}

.af-pageWidth {
    max-width: 850px;
    margin: 0 auto;
}

.af-flex {
    display: flex;
}

p.sv-portlet-image-caption {
    font-size: 11px;
    font-family: museo,sans-serif;
    font-weight: 500;
    margin-top: 15px;
}

.af-borderRadius {
    border-radius: 10px;
}

.af-shortcuts {
    padding: 25px;

    &--item {
        list-style-type: none;
        margin: 0;
        display: inline-block;
        background-color: $white-color;
        padding: 5px 20px;
        margin-right: 15px;

        & a {
           text-decoration: none; 
        }

        & a:hover {
            text-decoration: underline;
            text-decoration-color: $nynas-darkblue-color; 
        }
    }
}

.af-tableOfContent {

    background-color: $nynas-grey-color;
    margin: 50px 0;
    padding: 50px;

    & li {
        margin: 10px 0;
        padding-left: 50px;

        background-image: url($arrowDownIcon);
        background-repeat: no-repeat;
        background-position: left;

        & a {
            text-decoration: none;
            border: none;
        }

        & a:hover {
            /* border-bottom: $linkBorderStyle; */
            text-decoration: underline;
            text-decoration-color: $nynas-darkblue-color;
        }
    }
}

.af-greenColor {
    background-color: $nynas-green-color;
}

.af-darkBlueColor {
    background-color: $nynas-darkblue-color;
}

.af-whiteColor {
    background-color: $white-color;
}

nav.af-center {
    position: relative;

    & .af-searchIcon {
        position: absolute;
        top: 20px;
        right: 30px;
        padding-right: 40px;
    }
}

.af-flexRow {
    display: flex;
    justify-content: space-around;

    & > * {
        max-width: 31%;
    }
}

.sv-text-portlet.af-searchIcon:hover {
    cursor: pointer;
}

/* Dekorationer */
.sv-decoration-generell-bla-knapp--external {
    background-color: $nynas-darkblue-color;
    padding: 15px 50px 15px 20px;
    display: inline-block;
    color: $white-color;
    margin: 15px 0;
    border-radius: 10px;
    position: relative;

    &:after {
        content: ' ';
        background-repeat: no-repeat;
        background-position: 90% 44%;
        background-size: 25px 25px;
        background-image: url($externalLinkIcon);
        position: absolute;
        top: 12px;
        right: 10px;
        width: 25px;
        height: 25px;
    }

    & p.normal {

        & a {
            color: #fff;
            font-family: museo,sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
        }
    }
}

.sv-decoration-generell-bla-knapp--intern {
    background-color: $nynas-darkblue-color;
    padding: 15px 50px 15px 20px;
    display: inline-block;
    color: $white-color;
    margin: 15px 0;
    border-radius: 10px;
    position: relative;

    &:after {
        content: ' ';
        background-repeat: no-repeat;
        background-position: 95% 44%;
        background-size: 25px 25px;
        background-image: url($internalLinkIcon);
        position: absolute;
        top: 12px;
        right: 10px;
        width: 25px;
        height: 25px;

    }

    & p.normal {

        & a {
            color: #fff;
            font-family: museo,sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
        }
    }
}

.sv-decoration-generell-faktaruta {

    & h2, h3, .sv-font-stor-svart {
        background-color: $nynas-darkblue-color;
        padding: 25px 50px;
        margin-bottom: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: $white-color;
    }

    & h2:before, h3:before, .sv-font-stor-svart:before {
        content: ' ';
        margin-right: 25px;
        background-image: url($factBox);
        width: 35px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
    }

    & p.normal {
        background-color: $nynas-grey-color;
        padding: 25px 50px;
    }
    
}

.af-related-information {

    & h2, h3, .sv-font-stor-svart {
        background-color: $nynas-darkblue-color;
        padding: 25px 50px;
        margin-bottom: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: $white-color;
    }

    & h2:before, h3:before, .sv-font-stor-svart:before {
        content: ' ';
        margin-right: 25px;
        background-image: url($relatedInfo);
        width: 35px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        height: 25px;
    }

    & ul {
        background-color: $nynas-grey-color;
        padding: 25px 50px;

        & li {
            margin: 15px 0;
        }

        & .sv-decoration-generell-bla-knapp--external, .sv-decoration-generell-bla-knapp--intern  {

            &:after {
                top: 8px;
            }

            padding: 10px 50px 10px 20px;

            & a {
                color: $white-color;
            }
        }

        & a[href*="/download/"]:after {
            height: 18px;
        }
    }
}

.sv-decoration-generell-dragspel {

    & p.sv-font-stor-svart, h2, h3 {
        background-color: $nynas-grey-color;
        padding: 20px 54px;
        margin-bottom: 15px;
        position: relative;
    }

    & p.sv-font-stor-svart:hover, h2:hover, h3:hover {
        cursor: pointer;
    }

    & p.normal {
       padding:  66px 58px 56px 58px;
       border: 1px solid $nynas-grey-color;
       margin-top: -15px;
       margin-bottom: 15px;
       box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
       display: none;
    }

    & .af-open {
        background-image: url($hideIcon) !important;
    }

    & .af-closed {
        background-image: url($plusSignIcon);
        background-repeat: no-repeat;
        background-position: right 30px center;
        background-size: 25px;
    }

    & .af-accordionText {
        position: absolute;
        right: 80px;
        top: 30px;
        font-weight: 500;
        font-size: 18px;
    }
}

.sv-decoration-generell-tabell {

    & table {

        border-radius: 10px;
        margin: 15px 0;
        border-collapse: collapse;
        overflow: hidden;

        & caption {
            display: none;
        }

        & thead tr th {
            padding: 20px 35px;
            background-color: $nynas-darkblue-color;
            color: $white-color;
            border-right: 1px solid $white-color;

            & * {
                color: $white-color !important;
            }
        }

        & tbody tr:nth-of-type(odd) {
            background-color: $nynas-lightgrey-color;
        }

        & tbody tr:nth-of-type(even) {
            background-color: $nynas-grey-color;
        }

        & tbody tr td {
            padding: 25px 35px;
            border-left: 1px solid $nynas-darkgrey-color;
            border-bottom: 2px solid $nynas-darkgrey-color;
        }

        & tbody tr td:first-of-type {
            border-left: none;
        }

        & tbody tr:last-of-type td {
            border-bottom: none;
        }
    }
}

.sv-decoration-generell-kommentarer {

    & .sv-font-sidfot-rubrik {
        text-decoration-color: $nynas-darkblue-color;
        text-decoration: underline;
    }

    & .sv-font-sidfot-rubrik:before {
        content: ' ';
        margin-right: 15px;
        width: 30px;
        background-image: url($speachBubbleIcon);
        display: inline-block;
        background-repeat: no-repeat;
    }

    & .sv-comments2-main-header h3 {
        display: none;
    }

    & .sv-comments2-main-header .dropdown.sv-cog {
        padding-right: 50px;
    }

    & .sv-comments2-comments {
        padding: 0 35px;
    }

    & .sv-image-container.sv-comments2-form {
        display: none;
    }
}