@import 'variables';

/* Icons */
.af-searchIcon {
    position: relative;

    &:after {
        background-image: url($searchIcon);
        background-repeat: no-repeat;
        background-position: right;
        content: ' ';
        display: inline-block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.af-messageIcon {
    background-image: url($messageIcon);
    background-repeat: no-repeat;
    background-position: left;
}

.af-eventsIcon {
    background-image: url($eventsIcon);
    background-repeat: no-repeat;
    background-position: left;
}

.af-arrowDownIcon {  
    background-image: url($arrowDownIcon);
    background-repeat: no-repeat;
    background-position: left;
}

.af-aktuelltIcon {
    background-image: url($activeIcon);
    background-repeat: no-repeat;
    background-position: left;
}

/* Layout */
a.normal,
.normal a,
a.sv-font-ingress,
.sv-font-ingress a {
    text-decoration: underline;
    text-decoration-color: $nynas-darkblue-color;
}

.sv-font-ingress {
    padding-bottom: 0;
    margin-bottom: 0;
}

a[href*="/download/"] {
    margin-right: 5px; 
}

a[href*="/download/"]:after {
    content: ' ';
    background-image: url($attachedFile);
    background-repeat: no-repeat;
    width: 20px;
    display: inline-block;
    border: none;
    margin-left: 10px;
}

.af-center {
    text-align: center;
}

.af-relative {
    position: relative;
}

.af-pageWidth {
    max-width: 850px;
    margin: 0 auto;
}

.af-flex {
    display: flex;
}

p.sv-portlet-image-caption {
    font-size: 14px;
    font-family: museo,sans-serif;
    font-weight: 500;
    margin-top: 15px;
}

.af-borderRadius {
    border-radius: 6px;
}

.af-shortcuts {
    padding: 25px;
    margin: 0;
    padding: 0;

    &-title {
        font-weight: 700;
    }

    &--item {
        list-style-type: none;
        margin: 0;
        display: inline-block;
        background-color: $white-color;
        margin-right: 15px;

        & a {
           text-decoration: none; 
           font-weight: 500;
           display: inline-block;
           padding: 10px 15px;
        }

        & a:hover {
            text-decoration: underline;
            text-decoration-color: $nynas-darkblue-color; 
        }

        & a:active {
            text-decoration: none;
            background-color: $nynas-lightblue-color;
        }

        &:hover {
            background-color: $nynas-lightblue-color;
        }
    }
}

.af-tableOfContent {

    background-color: $nynas-grey-color;
    margin: 60px 0;
    padding: 60px;

    & li {
        margin: 10px 0;
        padding-left: 50px;

        background-image: url($arrowDownIcon);
        background-repeat: no-repeat;
        background-position: left 2px;
        background-size: 22px;

        & a {
            text-decoration: none;
            border: none;
        }

        & a:hover {
            /* border-bottom: $linkBorderStyle; */
            text-decoration: underline;
            text-decoration-color: $nynas-darkblue-color;
        }
    }
}

.af-greenColor {
    background-color: $nynas-green-color;
}

.af-darkBlueColor {
    background-color: $nynas-darkblue-color;
}

.af-whiteColor {
    background-color: $white-color;
}

nav.af-center {
    position: relative;

    & .af-searchIcon {
        position: absolute;
        top: 20px;
        right: 30px;

        & a {
            text-decoration: none;
            padding-right: 40px;
        }

        & a:focus {
            outline-offset: 17px;
        }

        & a.active {
            border-bottom: $linkBorderStyle;
            padding-bottom: 3px;
        }
    }
}

.af-flexRow {
    display: flex;
    justify-content: space-around;

    & > * {
        max-width: 33%;
    }
}

.sv-text-portlet.af-searchIcon:hover {
    cursor: pointer;
}

/* Dekorationer */
.sv-decoration-generell-bla-knapp--external {
    background-color: $nynas-darkblue-color;
    padding: 15px 50px 15px 20px;
    display: inline-block;
    color: $white-color;
    margin: 60px 0;
    border-radius: 10px;
    position: relative;

    &:after {
        content: ' ';
        background-repeat: no-repeat;
        background-position: 90% 44%;
        background-size: 25px 25px;
        background-image: url($externalLinkIcon);
        position: absolute;
        top: 12px;
        right: 10px;
        width: 25px;
        height: 25px;
    }

    & p.normal {

        & a {
            color: #fff;
            font-family: museo,sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
        }
    }
}

.sv-decoration-generell-bla-knapp--intern {
    background-color: $nynas-darkblue-color;
    padding: 15px 50px 15px 20px;
    display: inline-block;
    color: $white-color;
    margin: 60px 0;
    border-radius: 10px;
    position: relative;

    &:after {
        content: ' ';
        background-repeat: no-repeat;
        background-position: 95% 44%;
        background-size: 25px 25px;
        background-image: url($internalLinkIcon);
        position: absolute;
        top: 12px;
        right: 10px;
        width: 25px;
        height: 25px;

    }

    & p.normal {

        & a {
            color: #fff;
            font-family: museo,sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
        }
    }
}

.sv-decoration-generell-faktaruta {

    margin: 60px 0;

    & h2, h3, .sv-font-stor-svart {
        background-color: $nynas-darkblue-color;
        padding: 25px 50px;
        margin-bottom: 5px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-size: 25px;
        color: $white-color;
    }

    & h2:before, h3:before, .sv-font-stor-svart:before {
        content: ' ';
        margin-right: 11px;
        background-image: url($factBox);
        width: 25px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
    }

    & p.normal {
        background-color: $nynas-grey-color;
        padding: 25px 50px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
}

.af-related-information {

    margin: 60px 0;

    & h2, h3, .sv-font-stor-svart {
        background-color: $nynas-darkblue-color;
        padding: 25px 50px;
        margin-bottom: 5px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-size: 25px;
        color: $white-color;
    }

    & h2:before, h3:before, .sv-font-stor-svart:before {
        content: ' ';
        margin-right: 11px;
        background-image: url($relatedInfo);
        width: 25px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
    }

    & ul {
        background-color: $nynas-grey-color;
        padding: 25px 50px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        & li {
            margin: 15px 0;
        }

        & li.af-liBlock {
            display: block;
            margin: 0;
        }

        & .sv-decoration-generell-bla-knapp--external, .sv-decoration-generell-bla-knapp--intern  {

            &:after {
                top: 8px;
            }

            padding: 10px 50px 10px 20px;

            & a {
                color: $white-color;
            }
        }

        & a[href*="/download/"]:after {
            height: 18px;
        }
    }
}

.sv-decoration-generell-dragspel {

    & p.sv-font-stor-svart, h2, h3 {
        background-color: $nynas-grey-color;
        padding: 20px 54px;
        margin-bottom: 15px;
        position: relative;
        font-size: 25px;
        font-weight: 700;
    }

    & p.sv-font-stor-svart:hover, h2:hover, h3:hover {
        cursor: pointer;
    }

    & p.normal {
       padding:  66px 58px 56px 58px;
       border: 1px solid $nynas-grey-color;
       margin-top: -15px;
       margin-bottom: 15px;
       box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
       display: none;
    }

    & .af-closed {
        position: relative;
    }

    & .af-closed:after {
        content: ' ';
        background-image: url($plusSignIcon);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        position: absolute;
        right: 20px;
        width: 30px;
        transition: all 0.3s ease;
    }

    & .af-open:after {
        transform: rotate(45deg);
        transition: all 0.3s ease;
    }

    & .af-accordionText {
        position: absolute;
        right: 80px;
        top: 30px;
        font-weight: 500;
        font-size: 18px;
    }
}

.sv-decoration-generell-tabell {

    & table {

        border-radius: 6px;
        margin: 20px 0 60px 0;
        border-collapse: collapse;
        overflow: hidden;

        & caption {
            display: none;
        }

        & thead tr th {
            padding: 20px 35px;
            background-color: $nynas-darkblue-color;
            color: $white-color;
            border-right: 1px solid $white-color;

            & * {
                color: $white-color !important;
                font-family: museo,sans-serif !important;
                font-size: 25px !important;
            }
        }

        & tbody tr:nth-of-type(odd) {
            background-color: $nynas-lightgrey-color;
        }

        & tbody tr:nth-of-type(even) {
            background-color: $nynas-grey-color;
        }

        & tbody tr td {
            padding: 25px 35px;
            border-left: 1px solid $nynas-darkgrey-color;
            border-bottom: 2px solid $nynas-darkgrey-color;
        }

        & tbody tr td:first-of-type {
            border-left: none;
        }

        & tbody tr:last-of-type td {
            border-bottom: none;
        }
    }
}

.sv-decoration-generell-kommentarer {

    & .sv-font-sidfot-rubrik {
        text-decoration-color: $nynas-darkblue-color;
        text-decoration: underline;
    }

    & .sv-font-sidfot-rubrik:hover {
        cursor: pointer;
    }

    & .sv-font-sidfot-rubrik:before {
        content: ' ';
        margin-right: 15px;
        width: 30px;
        background-image: url($speachBubbleIcon);
        display: inline-block;
        background-repeat: no-repeat;
        height: 21px;
    }

    & .env-modal-dialog__dialog {
        max-width: 850px;
        margin: 4% auto;
        line-height: 28px;

        & .env-modal-dialog__header {
            color: $nynas-black-color;
            background-color: $nynas-comments-bg;
            text-align: right;

            & h4.env-text {
                color: $nynas-black-color;
                padding: 0;
                display: none;
            }
        }

        & .env-modal-dialog__content {
            padding: 30px 50px 40px 50px;
            background-color: $nynas-comments-bg;

            & .env-modal-dialog__body {

                & p.env-text:first-of-type {
                    font-weight: 500;
                }

                & p.env-text {
                    margin-bottom: 25px;
                }
            }

            & .env-form {
                margin: 25px 0;

                & .env-form-element {
                    margin-bottom: 20px;
                }

                & .mandatory {
                    color: $red-color;
                }
            }

            & .env-modal-dialog__footer {
                text-align: center;
                background-color: $nynas-comments-bg;
            }

            & .sv-font-brodtext-liten {
                text-align: center;
            }
        }
    }
}

.af-desktopNone,
.af-hidden {
    display: none;
}

/* Search */
.sv-search-result {

    & .sv-search-hit {
        padding: 30px 0 20px 0;
        border-bottom: 1px solid $nynas-black-color;

        & .summary {
            margin: 10px 0;
        }

        & .infoText {

            & span {
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    & .sv-search-hit:first-of-type {
        border-top: 1px solid $nynas-black-color;
    }
}

.af-breadcrumb {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    padding-left: 88px;
    padding-top: 30px;
}

.af-publishedDate {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 28px;

    & .af-oldArticle {
        font-size: 15px;
        background-color: $nynas-grey-color;
        padding: 4px;
        border-radius: 6px;
    }

    & .af-oldArticle-before:before {
        font-size: 15px;
        padding: 4px;
        margin: 0 20px;
        content: '\2022';
}
}

.af-publishedDate:before {
    content: ' ';
    background-image: url($clockIcon);
    height: 15px;
    display: inline-block;
    width: 15px;
    margin-right: 5px;
    left: 25px;
    top: 24px;
}

a:focus,
input:focus {
    outline: 2px solid $nynas-search-bg;
}

.af-oldNewsChecker .sv-text-portlet + .sv-image-portlet {
    margin: 60px 0;
}

.af-tags {
    margin: 25px 0 0 0;

    .af-tag {
        font-size: 16px;
        font-weight: 500;
        background-color: $nynas-grey-color;
        display: inline-block;
        padding: 5px 5px 5px 30px;
        border-radius: 6px;
        position: relative;

        & a {
            text-decoration: none;
        }
    }

    .af-tag:before {
        content: ' ';
        display: inline-block;
        background-image: url($tagIcon);
        position: absolute;
        top: 6px;
        left: 10px;
        width: 20px;
        height: 20px;
        background-size: 15px;
        background-repeat: no-repeat;
    }
}
