@import 'variables';

/* Menu */
.af-menu {
    display:inline;
    padding-left:0; 
    margin-left:0; 
    list-style:none;

    &--item {

        margin: 0 10px;

        & a {
            padding: 15px 28px 20px 28px;
            text-decoration: none;
            border-radius: 10px 10px 0 0;
        }
    }

    .af-activeMenuItem {
        background-color: $nynas-darkblue-color;
        color: $white-color;
    }
}

.af-subMenu {
    display:inline;
    padding-left:0; 
    margin-left:0; 
    list-style:none;

    &--item {

        margin: 0 10px;

        & a {
            text-decoration: none;
            padding: 20px 10px 5px 10px;;
        }
    }

    .af-activeMenuItem {
        /* padding: 20px 10px 5px 10px; */
        /* background-color: $white-color; */
        /* border-radius: 0 0 10px 10px; */
        border-bottom: 4px solid $nynas-darkblue-color;
    }
}

.af-mobileMainMenu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: $nynas-darkblue-color;
    color: $white-color;
    display: none;
    font-family: museo;
    font-size: 18;

    & .activeMenuItem {
        text-decoration: underline;
        text-decoration-color: $nynas-darkblue-color;
    }

    &--item {
        padding: 0;
        border-bottom: 1px solid $white-color;
        background-color: $nynas-darkblue-color;
        position: relative;

        &.open {
            padding: 0;
            border-bottom: none;
        }

        &.hasChildren {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIconWhite);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transition: all 0.3s ease;
            }
        }

        &.hasChildren.open {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIconWhite);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
        }

        & a {
            color: $white-color;
            text-decoration: none;
            margin-left: 30px;
            padding: 15px 0;
            display: block;
        }
    }
}

.af-mobileMainMenu--level2 {
    background-color: $nynas-grey-color;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid $white-color;
    display: none;

    &Item {
        padding: 0;
        border-bottom: 1px solid $white-color;
        position: relative;

        &.open {
            padding: 0;
            border-bottom: none;
        }

        &.hasChildren {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transition: all 0.3s ease;
            }
        }

        &.hasChildren.open {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
        }

        & a {
            font-family: museo;
            font-size: 14px;
            color: $nynas-black-color;
        }
    }
}

.af-mobileMainMenu--level3 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid $white-color;
    display: none;

    &Item {
        padding: 0;
        border-bottom: 1px solid $white-color;
        position: relative;

        &.open {
            padding:0;
            border-bottom: none;
        }

        &.hasChildren {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transition: all 0.3s ease;
            }
        }

        &.hasChildren.open {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
        }
        
        & a {
            font-family: museo;
            font-size: 14px;
            color: $nynas-black-color;
            margin-left: 50px;
        }
        
    }
}

.af-mobileMainMenu--level4 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid $white-color;
    display: none;

    &Item {
        padding: 0;
        border-bottom: 1px solid $white-color;
        position: relative;

        &.open {
            padding: 0;
            border-bottom: none;
        }

        &.hasChildren {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transition: all 0.3s ease;
            }
        }

        &.hasChildren.open {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
        }
        
        & a {
            font-family: museo;
            font-size: 14px;
            color: $nynas-black-color;
            margin-left: 70px;
        }
    }
}

.af-mobileMainMenu--level5 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid $white-color;
    display: none;

    &Item {
        padding: 0;
        border-bottom: 1px solid $white-color;
        position: relative;

        &.hasChildren {
            padding: 0;
            border-bottom: none;

            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transition: all 0.3s ease;
            }
        }

        &.hasChildren.open {
            & > .af-menuIcon {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 45px;
                height: 45px;
                background-image: url($plusSignIcon);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
        }
        
        & a {
            font-family: museo;
            font-size: 14px;
            color: $nynas-black-color;
            margin-left: 90px;
        }
    }
}