@import 'variables';

@media screen and (max-width: 450px) {

    .af-theStartPage {

        & .af-wave {

            & .af-wave--shape {
                padding: 6% 0 0 0;
            }
        }
    }

    .af-uppleva-site {

        & .af-wave--shape {
            padding: 6% 0 0 0;
            background-position: bottom;
        }
    }

    .af-tillvaxt-site {

        & .af-wave {
            & .af-wave--shape {
                top: -80px;
                /* background-position: bottom; */
            }
        }
    }
}