@import 'variables';

@media screen and (max-width: 880px) {

    .af-MobileNone {
        display: none;
    }

    .af-mobile-width100 {

        padding: 0;

        & > div {
            width: 100%;

            display: flex;
            justify-content: space-around;
            padding: 15px 0 10px 0;

            &:first-of-type {
                background-color: $nynas-grey-color;
            }
        }

        & img {
            width: 70% !important;
        }

        .af-searchIcon {
            padding-right: 32px;
            background-size: 18px;
            background-position: right top;
            margin: auto 0;
        }

        .sv-font-toppmeny {
            font-size: 18px;
        }
    }

    .af-wave {

        &--shape {
            top: -40px;
        }
    }

    .af-MobileMenu {

        &:before {
            content: ' ';
            background-image: url($hamburgerIcon);
            background-size: 18px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 20px;
            height: 14px;
        }

        & p.sv-font-toppmeny {
            display: inline-block;
        }

    }

    .af-desktopNone {
        display: block;
    }

    .af-startpageBigImage {
        background-image: none !important;
        padding: 0 !important;

        & > .af-center {
            position: relative !important;
            top: unset !important;
            padding: 0;

            & .sv-script-portlet.af-borderRadius {
                border-radius: 0;
                padding: 25px 0;
                text-align: left;
                max-width: 100%;
            }
        }
    }

    & .af-shortcuts-title {
        margin-left: 25px !important;
    }

    .af-shortcuts {
        padding: 0 0 20px 0;
        margin-left: 25px !important;
    
        &--item {
            margin-bottom: 15px;
        }
    }

    .af-puff {
        padding: 0 !important;

        &Container {

            margin-top: 30px !important;
        
            &--item {
        
                & .af-etjanster, .af-servicecenter {
                    background-size: 50px 50px !important;
                }
        
                & .af-bigPuff {
                    background-size: 80px 80px !important;
                }
        
                & .af-regularPuff, .af-bigPuff {
                    height: 80px !important;
                    width: 80px !important;
                }
        
                & .af-puffText {
                    font-size: 14px;
                }
            }
        }
    }

    .af-startpageMessages {

        & ul.sv-channel {

            flex-direction: column;

            & li {
                max-width: 100% !important;
                margin-bottom: 15px !important;
            }
        }
    }

    .af-amountEvents-3 {

        & .af-startpageEvents {
            margin-bottom: 0 !important;
            flex-direction: column;
            height: unset !important;

            & .af-startpageEvents--event {
                margin-bottom: 15px;
            }

            & .af-startpageEvents--smallerEvent {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                width: 100%;
            }

            &--eventText {
                position: unset !important;
                display: flex !important;

                &Date {
                    position: unset !important;
                }

                &Content {

                    & p {
                        display: none;
                    }
                }
            }

            & .af-image {
                padding-top: 56.25%;
            }
        }

        & .af-borderRight10px {
            border: none !important;
        }

        & .af-borderLeft10px {
            border: none !important;
        }

        & .af-borderTop10px {
            border: none !important;
        }
    
        & .af-borderBottom10px {
            border: none !important;
        }
    }

    .af-amountEvents-4 {

        & .af-startpageEvents {
            margin-bottom: 0 !important;
            flex-direction: column;

            &--event {
                margin-bottom: 15px;

                &Text {

                    &Date {

                        & .af-date {
                            font-size: 20px !important;
                        }
                    }

                }
            }

            &--eventTextContent {

                & div {
                    font-size: 18px;
                    font-weight: 700;
                }

                & p {
                    display: none;
                }
            }

            & .af-borderRight10px {
                border: none !important;
            }

            & .af-borderLeft10px {
                border: none !important;
            }

            & .af-borderTop10px {
                border: none !important;
            }
        
            & .af-borderBottom10px {
                border: none !important;
            }
        }
    }

    .af-startpage-current {

        & ul.sv-channel {

            margin: 0 15px;

            & li {
                width: 100%;
                flex-basis: 100% !important;
                max-width: 100% !important;
                height: auto !important;
            }

            & .sv-font-brodtext-fet {
                font-size: 18px;
            }

            .normal {
                font-size: 15px;
            }
        }
    } 

    .af-flexRow {
        padding-left: 0 !important;
        padding-right: 0 !important;
        flex-direction: column;

        & > * {
            max-width: 100% !important;
        }

        & .sv-text-portlet-content {
            text-align: center;
        }
    }

    .sv-font-sidfot-rubrik {
        font-size: 20px;
        margin-top: 35px;
    }

    .af-socialIcons {
        display: flex;
        justify-content: center;
    }

    .af-popularShortcuts {
        /* flex-direction: column; */
        flex-wrap: wrap;

        &--item {
            max-width: 31%;
            flex-basis: 31%;
            margin: 15px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--itemStyle {
            width: 80px !important;
            height: 80px !important;
            background-size: 40px 40px !important;
        }
    }

    .sv-decoration-generell-gra-platta {
        padding: 50px 0;

        & .af-messageIcon {
            margin-bottom: 30px;
        }

        & .af-startpageMessages {

            & .af-startpageMessages--list {
                flex-direction: column;

                &Item {

                    max-width: 100%;

                    & .sv-font-brodtext-fet {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    & .normal {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .af-related-information h2,
    .af-related-information h3,
    .af-related-information .sv-font-stor-svart,
    .af-contactModule .sv-font-stor-svart,
    .sv-decoration-generell-faktaruta .sv-font-stor-svart {
        font-size: 25px;
    }

    .af-related-information h2:before,
    .af-related-information h3:before,
    .af-related-information .sv-font-stor-svart:before,
    .af-contactModule h2:before,
    .af-contactModule h3:before,
    .af-contactModule .sv-font-stor-svart:before,
    .sv-decoration-generell-faktaruta .sv-font-stor-svart:before {
        margin-right: 5px !important;
        background-position: center 5px;
        background-size: 25px;
    }

    .sv-multilevellink-portlet {
        padding: 30px 12px !important;
    }

    h1.heading {
        font-size: 25px;
        margin-bottom: 25px !important;
    }

    p.sv-font-ingress {
        font-size: 18px;
    }

    .normal {
        font-size: 15px;
    }

    .sv-font-brodtext-fet {
        font-size: 15px;
    }

    .subheading {
        font-size: 20px;
    }

    .subheading3 {
        font-size: 18px;
    }

    .sv-font-stor-svart {
        font-size: 25px;
    }

    .sv-grid-850.sv-fluid-grid > div,
    .sv-grid-850.sv-fixed-fluid-grid > div {
        padding: 0 10px;
    }

    .af-tableOfContent {

        padding: 15px;
        margin: 30px 0;

        & li {
            background-size: 20px;
            background-position: left 2px;
            padding-left: 30px;
        }
    }

    .sv-decoration-generell-tabell {

        & table {

            & thead {

                & tr {

                    & th {
                        padding: 15px 10px;
                        word-wrap: break-word !important;
                    }
                }
            }

            & tbody {

                & tr {

                    & td {
                        padding: 15px 10px;
                        word-wrap: break-word !important;

                        & p {
                            font-size: 17px !important;
                        }
                    }
                }
            }
        }
    }

    .sv-decoration-generell-dragspel {

        & .af-accordionText {
            top: 23px;
        }

        & .af-closed {
            background-size: 20px;
        }
    }

    .sv-decoration-contentpage-share-social {

        & a {
            top: 5px;
        }
    }

    .sv-grid-850 .sv-image-portlet {
        margin: 30px 0;
    }
}