@import 'variables';

@media screen and (max-width: 880px) {

    .af-uppleva-site { 

        & > div:first-of-type {
            border: none;
        }

        & * {
            font-family: museo,sans-serif;
        }

        & .af-mobileTabs {

            border-bottom: 4px solid $nynas-green-color;
            padding-top: 47px;

            & .sv-font-toppmeny-aktiv {
                border: none;
                padding: 15px 28px 10px 28px !important;
            }

            & .af-menu--item {
                order: unset;
            }
        }

        & .af-pageWidth.af-center {
            padding: 0 50px;

            & .sv-text-portlet-content {

                & .sv-font-stor-svart {
                    margin-top: 0px !important;
                }
            }
        }

        & .af-startpageBigImage {
            background-image: url($startpageBigImage);
            height: 400px;
        }

        & .af-wave {

            & .af-wave--shape {
                top: -90px;
                background-repeat: no-repeat;
            }
        }

        & .af-event-detailpage {

            & .af-breadcrumb {
                position: unset !important;
            }

            & .af-event-detailpage--bigImage {
                background-size: contain;
                padding-top: 56.6%;
                height: auto;
            }
        }

        & .af-uppleva-site {

            & h1.heading {
                font-size: 25px !important;
            }
        }

        .af-event-calendar {

            & .af-event-calendar-dateRow {

                padding: 20px 2px;

                & .af-event-calendar-dateRow--filter {
                    display: block;

                    & .form-element {
                        margin: 0;
                        margin-bottom: 10px;
                        padding: 30px 0;

                        & input {
                            font-size: 16px;
                        }
                    }
                }
            }

            & .af-event-calendar-categoryRow {

                & .af-event-calendar-categoryRow--filter {

                    & p.sv-font-brodtext-fet {
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                    & .af-event-calendar-categoryRow--filter-tags {

                        padding-top: 30px;

                        & .af-event-calendar-categoryRow--filter-tag {
                            margin-bottom: 40px;
                        }
                    }

                    & .af-accordionText {
                        font-size: 13px;
                        top: 4px;
                    }

                    & .af-closed:after {
                        background-size: 13px;
                        top: 3px;
                    }
                }
            }

            & .af-event-calendar-clearFilter {

                & .form-element {
                    padding-left: 25px;
                }
            }

            & .af-event-calendar-results {

                & .af-event-calendar-result {
                    width: 100%;
                    display: block;

                    & .af-event-calendar-info {

                        & .af-event-calendar-result-date {
                            width: 60px;
                            height: 60px;   

                            & .af-date {
                                font-size: 20px;
                                margin-top: 10px;
                                width: auto;
                            }

                            & .af-month {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .af-startpage-listing {

            & .af-startpage-listing-items {

                & .af-startpage-listing-item {
                    width: 100% !important;
                    display: block;

                    & .af-startpage-listing-item-img {
                        padding-top: 56.25% !important;
                    }
                }
            }
        }

        & .af-uppleva-events {

            & .af-uppleva-events-filter {
                padding: 30px 20px 25px 30px !important;

                & .sv-font-brodtext-fet {
                    font-size: 20px;
                    font-weight: 700;

                    & .af-accordionText {
                        font-size: 13px;
                        top: 4px;
                    }
                }

                & .af-closed:after {
                    background-size: 13px !important;
                    top: 3px !important;
                }
            }

            & .af-uppleva-events-items {

                & .af-uppleva-events-item {
                    width: 100% !important;

                    & .af-uppleva-events-item-textContent {
                        height: 65px !important;
                    }
                }
            }
        }

        & .af-uppleva-site-meetTheLocals {

            & .af-uppleva-site-meetTheLocals--local {
                width: 100% !important;
                display: block !important;

                & .af-uppleva-site-meetTheLocals--local-img {
                    padding-top: 56.25% !important;
                }

                & .af-uppleva-site-meetTheLocals--local-textContent {
                    height: auto !important;
                }
            }
        }

        & .af-uppleva-site-discover {

            & .af-uppleva-site-discover--item {
                width: 100% !important;
                display: block !important;

                & .af-uppleva-site-discover--item-img {
                    padding-top: 56.25% !important;
                }

                & .af-uppleva-site-discover--item-textContent {
                    height: auto !important;
                }
            }
        }
    }
}