@import 'variables';

@media screen and (max-width: 880px) {

    .af-uppleva-site { 

        & .af-startpageBigImage {
            background-image: url($startpageBigImage);
            height: 400px;
        }

        & .af-wave {

            & .af-wave--shape {
                top: -110px;
            }
        }

        & .af-event-detailpage {

            & .af-breadcrumb {
                position: unset !important;
            }

            & .af-event-detailpage--bigImage {
                background-size: contain;
                padding-top: 56.6%;
                height: auto;
            }
        }

        & .af-uppleva-site {

            & h1.heading {
                font-size: 25px !important;
            }
        }

        .af-event-calendar {

            & .af-event-calendar-dateRow {

                padding: 20px 2px;

                & .af-event-calendar-dateRow--filter {
                    display: block;

                    & .form-element {
                        margin: 0;
                        margin-bottom: 10px;
                        padding: 30px 0;
                    }
                }
            }

            & .af-event-calendar-categoryRow {

                & .af-event-calendar-categoryRow--filter {

                    & p.sv-font-brodtext-fet {
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                    & .af-event-calendar-categoryRow--filter-tags {

                        padding-top: 30px;

                        & .af-event-calendar-categoryRow--filter-tag {
                            margin-bottom: 40px;
                        }
                    }

                    & .af-accordionText {
                        font-size: 13px;
                        top: 4px;
                    }

                    & .af-closed:after {
                        background-size: 13px;
                        top: 3px;
                    }
                }
            }

            & .af-event-calendar-clearFilter {

                & .form-element {
                    padding-left: 25px;
                }
            }

            & .af-event-calendar-results {

                & .af-event-calendar-result {
                    width: 100%;

                    & .af-event-calendar-info {

                        & .af-event-calendar-result-date {
                            width: 60px;
                            height: 60px;   

                            & .af-date {
                                font-size: 20px;
                                margin-top: 10px;
                            }

                            & .af-month {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}