@import 'variables';

/* OVERRIDES */
p.normal {
    margin: 25px 0 0 0;
}

h2.subheading + p.normal,
h3.subheading3 + p.normal {
    margin-top: 10px;
}

h3.subheading3-utan-dragspel + p.normal {
    margin-top: 10px;
}

.sv-autocomplete-search-result {
    width: 854px;
    max-width: 854px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    & .sv-autocomplete-result-item {
        padding: 10px 20px !important;
    }
}

.sv-buddy-icon, .sv-corner-all {
    border-radius: 0 !important;
}

.sv-responsive .sv-image-portlet img {
    margin-bottom: 25px;
}

.sv-image-portlet img + p.sv-portlet-image-caption {
    margin-top: -5px;
}

.datepicker {
    width: 333px;
}

input::-webkit-input-placeholder {
    color: $nynas-black-color;
}
input:-moz-placeholder {
   color: $nynas-black-color;
   opacity: 1;
}
input::-moz-placeholder {
   color: $nynas-black-color;
   opacity: 1;
}
input:-ms-input-placeholder {
   color: $nynas-black-color;
}
input::-ms-input-placeholder {
   color: $nynas-black-color;
}

input::placeholder {
   color: $nynas-black-color;
}

.datepicker--nav-title {
    font-weight: 700;
    font-size: 20px;

    & i {
        color: $nynas-black-color;
    }
}

.datepicker--day-name {
    color: $nynas-black-color;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
}

.datepicker--nav {
    border: none;
    padding: 15px 0;
}

.datepicker.active {
    padding: 40px;
}

.datepicker--cell.-current- {
    background-color: $nynas-lightgreen-color;
    color: $nynas-black-color;
}