@import 'variables';


/* Puffar */

.af-puff {

    padding: 0 100px;
    margin-bottom: 42px;

    &Container {
        display: flex;
        align-items: flex-end;
        margin-top: -70px;
    
        &--item {
    
            & .af-puffText {
                margin-top: 15px;
                font-weight: 700;
            }
        }

        & a {
            text-decoration: none;
        }
    
        div {
            text-align: center;
            overflow: hidden;
            z-index: 1;
        }
    
        .af-etjanster {
            background-image: url($startpageEtjansterImage);
            background-repeat: no-repeat;
            background-size: 80px 80px;
            background-position: center;
        }
    
        .af-servicecenter {
            background-image: url($startpageServicecenterImage);
            background-repeat: no-repeat;
            background-size: 80px 80px;
            background-position: center;
        }
    
        .af-regularPuff {
            height: 186px;
            width: 186px;
            border-radius: 50%;
            /* transform: translateY(-50%); */

            background-repeat: no-repeat;
            background-size: 80px 80px;
            background-position: center;
        }
    
        .af-bigPuff {
            width: 266px;
            height: 266px;
            border-radius: 50%;
            /* transform: translateY(-50%); */
            background-image: url($startpageFreeJobImage);
            background-size: 266px 266px;
            background-repeat: no-repeat;
            background-position: top center;
    
            > div {
                margin-top: 70%;
                background-color: $nynas-lightgreen-color;
                overflow: hidden;
                height: 30%;
            }
        }
    
        .af-orangeColor {
            background-color: $orange-color;
        }
        
        .af-blueColor {
            background-color: $blue-color;
        }
    }

}

.af-contactModule {

    margin: 60px 0;
    .sv-font-stor-svart {
        background-color: #002F6C;
        padding: 25px 50px;
        margin-bottom: 5px;
        font-size: 25px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        color: #fff;
        font-weight: 700;
    }

    & h2:before,
    & h3:before,
    & .sv-font-stor-svart:before {
        content: ' ';
        margin-right: 11px;
        background-image: url($startpageServicecenterImage);
        width: 25px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        height: 25px;
    }

    & .af-contactModule-content {
        background-color: $nynas-grey-color;
        padding: 50px;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        & .af-contactModule--middle {
            flex-basis: 100%;
            width: 100%;

            & > .sv-horizontal {
                display: flex;
                margin-bottom: 0;

                & .sv-horizontal.sv-layout {
                    margin-bottom: 25px;
                }
            }

            & p {
                margin: 0 0 5px 0;
            }
        }

        & .af-contactModule--left {
            flex-basis: 50%;
            width: 50%;
            .sv-text-portlet-content > .normal:first-child > .sv-font-brodtext-fet { 
                margin: 0; 
            }
        }

        & .af-contactModule--right {
            flex-basis: 50%;
            width: 50%;
        }

        & .sv-font-brodtext-fet {
            margin-top: 15px;
            display: inline-block;
        }
    }
}