@import 'variables';

/* Startpage */

.af-startpageMessages {
    display: flex;
    justify-content: space-around;

    &--list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;

        & li {
            max-width: 28%;
            padding: 1em;
            background-color: #fff;
            border-radius: 10px;
            margin-bottom: 0;
            position: relative;

            & a {
                text-decoration: none;
            }

            .af-startpageMessages--listItem--externalLink .af-linkIcon {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 25px;
                height: 25px;
                background-size: 20px;
                background-repeat: no-repeat;
                background-image: url($externalLinkIconGrey);
            }

            .af-startpageMessages--listItem--internalLink .af-linkIcon {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-size: 20px;
                background-image: url($internalLinkIconGrey);
            }
        }
    }

    &--message {
        max-width: 28%;
        padding: 1em;
    }
}

.af-startpageBigImage {
    background-image: url($startpageBigImage);
    background-repeat: no-repeat;
    background-size: cover;
}

.af-wave {

    position: relative;

    &--shape {
        background-image: url($startpageWave);
        padding: 10% 0 0 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: 100% auto;
    }

    &-grey--shape {
        background-image: url($landingpageWave);
        padding: 7% 0 0 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: 100% auto;
    }
}

.af-amountEvents-4 .af-startpageEvents {
    display: flex;
    margin-bottom: 20px;

    &--event {
        flex: 1 1 50%;
        position: relative;
        height: 510px;

        & .af-image {
            background-size: cover;
            height: 100%;
        }
    }

    &--eventText {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;

        &Content {
            display: inline-block;
            width: 86%;
            margin-left: 15%;

            & > p {
                margin-top: 5px;
            }
        }

        &Date {
            width: 76px;
            height: 76px;
            position: absolute;
            top: 30px;

            > div {
                background-color: $white-color;
                float: left;
                width: 60px;
                height: 60px;
                text-align: center;
                border-radius: 50%;

                & .af-month {
                    font-size: 17px;
                }

                & .af-date {
                    font-size: 25px;
                    font-weight: 700;
                }
            }

            & p {
                margin: 0;
            }

            & p:first-of-type {
                margin-top: 4px;
            }
        }
    }

    & .af-borderLeft10px {
        border-left: 10px solid #fff;
    }

    & .af-borderRight10px {
        border-right: 10px solid #fff;
    }

    & .af-borderTop10px {
        border-top: 10px solid #fff;
    }

    & .af-borderBottom10px {
        border-bottom: 10px solid #fff;
    }

    & .af-green {
        background-color: $nynas-lightgreen-color;
    }
}

.af-amountEvents-3 .af-startpageEvents {

    display: flex;
    margin-bottom: 10px;
    height: 800px;

    &--bigEvent, &--smallerEvent {
        max-width: 50%;
        width: 50%;
    }

    &--smallerEvent {
        display: flex;
        flex-direction: column;
    }

    &--bigEvent {
        position: relative;

        & .af-image {
            background-size: cover;
            height: 100%;
        }
    }

    &--event {
        flex: 1 1 50%;
        position: relative;

        & .af-image {
            background-size: cover;
            height: 100%;
        }
    }

    &--eventText {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;

        &Content {
            width: 86%;
            margin-left: 15%;

            & > p {
                margin-top: 5px;
            }
        }

        &Date {

            width: 76px;
            height: 76px;
            position: absolute;
            top: 30px;

            > div {
                background-color: $white-color;
                float: left;
                width: 60px;
                height: 60px;
                text-align: center;
                border-radius: 50%;
            }

            & p {
                margin: 0;
            }

            & p:first-of-type {
                margin-top: 4px;
            }
        }

        & .af-month {
            font-size: 17px;
        }

        & .af-date {
            font-size: 25px;
            font-weight: 700;
        }
    }

    & .af-borderLeft10px {
        border-left: 10px solid #fff;
    }

    & .af-borderRight10px {
        border-right: 10px solid #fff;
    }

    & .af-borderTop10px {
        border-top: 10px solid #fff;
    }

    & .af-borderBottom10px {
        border-bottom: 10px solid #fff;
    }

    & .af-orange {
        background-color: $orange-color;
    }

    & .af-blue {
        background-color: $blue-color;
    }

    & .af-green {
        background-color: $nynas-lightgreen-color;
    }
}

.af-amountEvents-3, .af-amountEvents-4 {

    & .af-events--readMore {
        margin-top: 32px;
    }

}

.af-popularShortcuts {
    display: flex;
    justify-content: space-around;

    &--item {

        &:hover {
            cursor: pointer;
        }

        &Style {
            width: 210px;
            height: 210px;
            border-radius: 50%;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: 80px 80px;
            background-position: center;
        }

        &Name {
            margin-top: 18px;

            & a {
                text-decoration: none;
            }
        }
    }
}

.af-startpage-current {

    .sv-text-portlet {

        & a {
            text-decoration: underline;
            text-decoration-color: $nynas-darkblue-color;
        }
    }

    & ul.sv-channel {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        & li {
            max-width: 28%;
            flex-basis: calc(100%/3 - 80px);
            background-color: $white-color;
            border-radius: 10px;
            padding: 25px 25px 50px 25px;
            position: relative;
            height: 200px;

            & .sv-font-liten-morkgra {
                display: block;
                padding-left: 25px;
                margin-bottom: 15px;
            }

            & .sv-font-liten-morkgra:before {
                content: ' ';
                background-image: url($clockIcon);
                height: 15px;
                display: inline-block;
                width: 15px;
                position: absolute;
                left: 25px;
                top: 24px;
            }

            & .sv-font-brodtext-fet {
                display: block;
                margin-bottom: 5px;
                text-decoration: none;
            }
        }

        & li:hover {
            cursor: pointer;
        }
    }
}