@import 'variables';

.af-tillvaxt-site {

    & .af-menu {

        & .af-activeMenuItem {
            background-color: $nynas-darkgreen-color;
        }
    }

    & .af-hiddenSearchForm {
        background-color: $nynas-darkgreen-color;
    }

    & .af-mobileMainMenu {
        background-color: $nynas-darkgreen-color;

        & .af-mobileMainMenu--item {
            background-color: $nynas-darkgreen-color;
        }
    }

    & .af-tillvaxt-site-detailPlan {
        background-color: $nynas-grey-color;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 6px;
        margin-bottom: 25px;

        & p {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
        }
    }

    & .af-puffContainer {
        margin-top: 0px;

        & .af-tillvaxt-puff-1 {
            background-color: $nynas-darkgreen-color;
        }

        & .af-tillvaxt-puff-2 {
            background-color: $nynas-tillvaxt-greengrey;
        }

        & .af-tillvaxt-puff-3 {
            background-color: $nynas-tillvaxt-grey;
        }
    }

    & .af-tags {

        & .af-tag {
            margin-bottom: 10px;
        }
    }

    & .af-pageWidth {

        & .sv-font-stor-svart {
            margin: 70px 0 25px 0;
        }
    }

    & .af-aktuelltIcon {

        & .sv-font-stor-svart {
            font-size: 35px;
        }
    }

    & .af-startpage-listing {

        margin: 60px 0;

        & .af-startpage-listing-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: stretch;
            margin: 0 -5px;

            & .af-startpage-listing-item {
                width: 33.33333%;
                display: flex;

                & .af-startpage-listing-item-img {
                    padding-top: 56.25%;
                    background-size: cover;
                }

                & .af-startpage-listing-item-textContent {
                    padding: 30px 20px;

                    & .sv-font-brodtext-fet {
                        font-size: 25px;
                        color: $white-color;
                        font-weight: 700;
                    }

                    & .tag {
                        font-size: 18px;
                        font-weight: 500;
                        color: $white-color;
                    }
                }
            }

            & .af-startpage-listing-item.af-item-1 {
                width: 50%;
            }

            & .af-startpage-listing-item.af-item-2 {
                width: 50%;
            }

            & .af-startpage-listing-item.af-item-6 {
                width: 50%;
            }

            & .af-startpage-listing-item.af-item-7 {
                width: 50%;
            }

            & a {
                text-decoration: none;
                display: block;
                border: 5px solid #fff;
                background-color: $nynas-darkgreen-color;
                width: 100%;
            }
        }
    }

    .af-tillvaxt-cityProject {
        padding-bottom: 20px;
        border-bottom: 1px solid $nynas-darkgrey-color;

        & .af-tillvaxt-cityProject-area {
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
        }

        & .af-tillvaxt-cityProject-area:before {
            background-image: url($pinIcon);
            content: ' ';
            width: 15px;
            height: 15px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 7px;
            background-position: bottom center;
            margin-right: 5px;
        } 

        & .af-tillvaxt-cityProject-dot {
            display: inline-block;
            margin: 0 10px;
        }

        & .af-tillvaxt-cityProject-type {
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
        }

        & .af-tillvaxt-cityProject-type:before {
            background-image: url($housingIcon);
            content: ' ';
            width: 15px;
            height: 15px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 13px;
            background-position: bottom center;
            margin-right: 5px;
        }

        & .af-tillvaxt-cityProject-showMap {
            display: inline-block;
            float: right;
            margin-top: 6px;
            font-size: 15px;
            font-weight: 500;

            & a {
                text-decoration-color: $nynas-darkblue-color;
            }
        }

        & .af-tillvaxt-cityProject-showMap:after {
            background-image: url($mapIcon);
            content: ' ';
            width: 15px;
            height: 15px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 13px;
            background-position: bottom center;
            margin-left: 5px;
        }
    }

    .af-tillvaxt-cityProject-processFlow {
        padding: 60px;
        background-color: $nynas-grey-color;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        position: relative;

        & .af-tillvaxt-cityProject-processFlow--line {
            position: absolute;
            border-bottom: 1px solid $nynas-uppleva-grey; 
            left: 95px;
            right: 100px;
            top: 75px;
        }
        
        & .af-tillvaxt-cityProject-processFlow--steps {
            display: flex;
            justify-content: space-between;
            
            & .af-tillvaxt-cityProject-processFlow--step {
                z-index: 2;

                & .af-tillvaxt-cityProject-processFlow--step-animation {
                    width: 30px;
                    height: 30px;
                    margin: 0 auto;
                    border-radius: 6px;
                    border: 1px solid $nynas-darkgrey-color;
                }

                & .af-tillvaxt-cityProject-processFlow--step-name {
                    font-size: 15px;
                    font-weight: 300;
                    margin-top: 15px;
                }
            }

            & .af-tillvaxt-cityProject-processFlow--step.regularStep {

                & .af-tillvaxt-cityProject-processFlow--step-animation {
                    background-color: $nynas-darkgrey-color;
                    background-image: url($checkIconWhite);
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position: center;
                }
            }

            & .af-tillvaxt-cityProject-processFlow--step.activeStep {
                & .af-tillvaxt-cityProject-processFlow--step-animation {
                    background-color: $nynas-green-color;
                }
            }

            & .af-tillvaxt-cityProject-processFlow--step.emptyStep {
                & .af-tillvaxt-cityProject-processFlow--step-animation {
                    background-color: $white-color;
                }
            }
        }
    }

    & .sv-decoration-planprocessen {
        margin: 60px 0;

        & h2, h3, .sv-font-stor-svart {
            background-color: $nynas-darkblue-color;
            padding: 25px 50px;
            margin-bottom: 5px !important;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            font-size: 25px;
            color: $white-color;
            font-weight: 700;
        }
    
        & h2:before, h3:before, .sv-font-stor-svart:before {
            content: ' ';
            margin-right: 11px;
            background-image: url($housingWhiteIcon);
            width: 25px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
        }
    
        p.normal:first-of-type {
            margin-top: 5px;
        }
    
        & p.normal {
            background-color: $nynas-grey-color;
            padding: 25px 50px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    
        & p.normal + p.normal {
            margin: 0;
        }
    }

    & .af-popularShortcuts {
        align-items: flex-end;

        & .af-popularShortcuts--item {
            text-align: center;

            & .af-popularShortcuts--itemStyle.af-bigPuff {
                width: 266px;
                height: 266px;
                border-radius: 50%;
                background-size: 266px 266px;
                background-repeat: no-repeat;
                background-position: top center;
            }
        }
    }
}