@import 'variables';

.af-uppleva-site {

    & .af-hiddenSearchForm {
        background-color: $nynas-darkblue-color;
    }

    & .sv-font-stor-svart {
        font-size: 35px;
        margin: 40px 0 !important;
    }

    & .af-pageWidth.af-center .sv-font-stor-svart {
        margin-top: 40px !important;
        margin-bottom: 25px !important;
        font-size: 50px !important;
    }

    & .af-wave {

        &--shape {

            h1 {
                display: none;
            }
        }
    }

    & .af-puff {

        & .af-flexRow {

            & > div {
                display: flex;
            }
    
            & > * {
                max-width: 49%;
            }

            & img {
                max-height: 679px;
                margin-bottom: 0;
                max-width: 100%;
            }
        }

        & .sv-font-lankstig {
            margin: 0;
            font-size: 45px;
            font-weight: 700;
        }
    }

    & .af-menu {

        & .af-activeMenuItem {
            background-color: $nynas-green-color;
        }
    }

    .af-uppleva-events {

        margin-bottom: 60px;

        & .af-uppleva-events-bgColor {
            background-color: $nynas-lightgrey-color;
            margin-top: 5px;
        }

        & .af-uppleva-events-filter {
            max-width: 850px;
            margin: 0 auto;
            padding: 30px 20px;

            & .sv-font-brodtext-fet {
                margin: unset;
                margin-bottom: 0;
                position: relative;
            }
    
            & .af-accordionText {
                position: absolute;
                right: 0;
                top: 2px;
                font-size: 18px;
                font-weight: 500;
                padding-right: 25px;
                z-index: 9;
            }
    
            & .af-accordionText:hover {
                cursor: pointer;
            }
        }

        & .af-closed:after {
            content: ' ';
            background-image: url($plusSignIcon);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
            position: absolute;
            right: 0;
            top: 4px;
            height: 18px;
            width: 18px;
            transition: all 0.3s ease;
        }

        & .af-open:after {
            transform: rotate(45deg);
            transition: all 0.3s ease;
        }
    
        & .af-uppleva-events-filter-categories,
        & .af-uppleva-events-filter-places {
            margin: 0;
            padding: 0;
            list-style-type: none;
            flex-wrap: wrap;
            display: flex;
            padding-top: 25px;

            & .af-uppleva-events-filter-category,
            & .af-uppleva-events-filter-place {
                margin-right: 20px;
                margin-bottom: 35px;

                & a {
                    background-color: $white-color;
                    font-weight: 500;
                    font-size: 15px;
                    padding: 10px 15px;
                    border-radius: 6px;
                    border: 1px solid $nynas-uppleva-grey;
                    outline: none;
                    text-decoration: none;
                }

                & .active {
                    background-color: $nynas-uppleva-blue;
                }
            }
        }

        & .af-uppleva-events-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            max-width: 1366px;
            margin: 10px auto;

            & .af-uppleva-events-item {
                width: 33%;
                margin-bottom: 5px;
                margin-right: 4px;
                display: flex;

                & a {
                    text-decoration: none;
                    display: block;
                    background-color: $nynas-lightgreen-color;
                    width: 100%;
                }

                & a.af-externalSite {
                    background-repeat: no-repeat;
                    background-size: 25px;
                    background-image: url($externalLinkIconGreyV2);
                    background-position: right 10px bottom 10px;
                }

                & .af-uppleva-events-item-img {
                    padding-top: 56.25%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                & .af-uppleva-events-item-textContent {
                    padding: 30px 20px;
                }
            }

            & .af-uppleva-events-item:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    & h1 {
        font-size: 35px;
        font-weight: 300;
    }

    & .af-event-detailpage {

        position: relative;

        &--bigImage {
            height: 480px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        & .af-pagewidth-1366px {

            position: relative;

            & .af-breadcrumb {
                position: absolute;
                top: 10px;
                left: 50px;
                background-color: $white-color;
                padding: 10px 15px;
                border-radius: 6px;
            }

        }
    }

    & .af-uppleva-site {

        & h1.heading {
            font-size: 35px;
            font-weight: 300;
            margin: 60px 0 50px 0;
        }
    }

    & .sv-decoration-generell-gron-platta {

        & h2 {
            margin: 0 !important;
            padding: 0 !important;
        }

        & h2:before {
            content: '';
            display: inline-block;
            background-image: url($speachBubbleIcon);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin-right: 15px;
            background-position: bottom;
            background-size: 20px;
        }

        & .sv-text-portlet-content {

            & .sv-font-brodtext-fet {
                margin-top: 25px;
            }

            & .sv-font-brodtext-fet:first-of-type {
                margin-top: 0;
            }

            & .sv-font-brodtext-fet + .normal {
                margin-top: 0;
            }
        }
    }

    & .sv-decoration-contentpage-share-social {

        & .af-share-container {
            background-color: $nynas-lightgreen-color;

            & .af-share-facebook {
                background-image: url($facebookGreyIcon);
            }

            & .af-share-linkedIn {
                background-image: url($linkedInGreyIcon);
            }

            & .af-share-twitter {
                background-image: url($twitterGreyIcon);
            }

            & .af-share-mail {
                background-image: url($mailGreyIcon);
            }
        }
    } 

    .sv-search-facets-header.sv-font-stor-svart {
        font-weight: 300;
        font-size: 25px;
        margin-bottom: 5px;
    }

    & .af-startpage-listing-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin: 0 -5px;

        & a {
            text-decoration: none;
            display: block;
            border: 5px solid $white-color;
            background-color: $nynas-lightgreen-color;
            width: 100%;
        }

        & .af-startpage-listing-item {
            width: 33.33333%;
            display: flex;
        }

        & .af-startpage-listing-item-img {
            background-size: cover;
            background-position: center;
            padding-top: 56.25%;
        }

        & .af-startpage-listing-item-textContent {
            padding: 30px 20px;
            background-color: $nynas-lightgreen-color;
        }

        & .af-startpage-listing-item.af-item-1 {

            & .af-startpage-listing-item-img {
                padding-top: 114.6%;
            }
        }

        & .af-startpage-listing-item.af-item-2 {
            width: 66.66666%;

            & .af-startpage-listing-item-img {
                /* padding-top: 56.25%; */
                padding-top: 56.5%;
            }
        }

        & .af-startpage-listing-item.af-item-6 {
            width: 50%;

            & .af-startpage-listing-item-img {
                padding-top: 86.66%;
            }
        }

        & .af-startpage-listing-item.af-item-7 {
            width: 50%;

            & .af-startpage-listing-item-img {
                padding-top: 86.66%;
            }
        }
    }

    & .sv-facetedsearch-portlet {

        & .sv-font-stor-svart {
            margin: 0 !important;
        }

        & .sv-search-facet-backgroundColor {
            margin-top: 10px;
        }
    }

    & .af-uppleva-site-discover {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin: 0 -5px;

        & a {
            text-decoration: none;
            display: block;
            border: 5px solid $white-color;
            background-color: $nynas-lightgreen-color;
        }

        & .af-uppleva-site-discover--item {
            width: 33.33333%;
            display: flex;

            & .af-uppleva-site-discover--item-img {
                background-size: cover;
                background-position: center;
                padding-top: 56.6%;
            }

            & .af-uppleva-site-discover--item-textContent {
                padding: 30px 20px;
                background-color: $nynas-lightgreen-color;
            }
        }

        & .af-uppleva-site-discover--item.af-item-1 {

            & .af-uppleva-site-discover--item-img {
                padding-top: 114.6%;
            }
        }

        & .af-uppleva-site-discover--item.af-item-2 {
            width: 66.66666%;

            & .af-uppleva-site-discover--item-img {
                padding-top: 56.6%;
            }
        }

        & .af-uppleva-site-discover--item.af-item-3 {
            width: 66.66666%;

            & .af-uppleva-site-discover--item-img {
                padding-top: 56.6%;
            }
        }

        & .af-uppleva-site-discover--item.af-item-4 {
            
            & .af-uppleva-site-discover--item-img {
                padding-top: 114.6%;
            }
        }

        & .af-uppleva-site-discover--item.af-item-5 {
            
            & .af-uppleva-site-discover--item-img {
                padding-top: 114.6%;
            }
        }

        & .af-uppleva-site-discover--item.af-item-6 {
            
            & .af-uppleva-site-discover--item-img {
                padding-top: 114.6%;
            }
        }

        & .af-uppleva-site-discover--item.af-item-7 {
            
            & .af-uppleva-site-discover--item-img {
                padding-top: 114.6%;
            }
        }

    }

    & .af-uppleva-site-meetTheLocals {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin: 0 -5px;

        & a {
            text-decoration: none;
            display: block;
            border: 5px solid $white-color;
            background-color: $nynas-lightgreen-color;
        }

        & .af-uppleva-site-meetTheLocals--local {
            width: 33.33333%;
            display: flex;

            & .af-uppleva-site-meetTheLocals--local-img {
                background-size: cover;
                background-position: center;
                padding-top: 56.25%;
            }

            & .af-uppleva-site-meetTheLocals--local-textContent {
                padding: 30px 20px;
                background-color: $nynas-lightgreen-color;
            }
        }

        & .af-uppleva-site-meetTheLocals--local.af-item-1 {

            & .af-uppleva-site-meetTheLocals--local-img {
                padding-top: 114.6%;
            }
        }

        & .af-uppleva-site-meetTheLocals--local.af-item-2 {
            width: 66.66666%;

            & .af-uppleva-site-meetTheLocals--local-img {
                padding-top: 56.6%;
            }
        }

        & .af-uppleva-site-meetTheLocals--local.af-item-3 {
            width: 66.66666%;

            & .af-uppleva-site-meetTheLocals--local-img {
                padding-top: 56.6%;
            }
        }

        & .af-uppleva-site-meetTheLocals--local.af-item-4 {

            & .af-uppleva-site-meetTheLocals--local-img {
                padding-top: 114.6%;
            }
        }

        & .af-uppleva-site-meetTheLocals--local.af-item-5 {

            & .af-uppleva-site-meetTheLocals--local-img {
                padding-top: 114.6%;
            }
        }

        & .af-uppleva-site-meetTheLocals--local.af-item-6 {

            & .af-uppleva-site-meetTheLocals--local-img {
                padding-top: 114.6%;
            }
        }

        & .af-uppleva-site-meetTheLocals--local.af-item-7 {

            & .af-uppleva-site-meetTheLocals--local-img {
                padding-top: 114.6%;
            }
        }
    }

    .af-pagewidth-1366px.af-puff .af-flexRow .sv-vertical.sv-layout .sv-vertical.sv-layout:hover {
        cursor: pointer;
    }

    & .sv-predefinedsearch-portlet {

        & .af-viewMoreEvents--hidden {
            display: none;
        }

        & .af-closed:after {
            content: ' ';
            background-image: url($plusSignIcon);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 13px;
            display: inline-block;
            height: 13px;
            width: 13px;
            margin-left: 5px;
            transition: all 0.3s ease;
        }

        & .af-open:after {
            transform: rotate(45deg);
            transition: all 0.3s ease;
        }

        & .af-viewMoreEvents:hover {
            cursor: pointer;
        }
    }

    & .af-schoolPage {

        & .af-schoolPage-header {
            font-size: 25px;
            margin: 0 !important;
            margin-bottom: 5px !important;
        }
    } 

    & .af-contactModule {

        & .sv-font-stor-svart {
            font-size: 25px;
            margin: 0 !important;
            margin-bottom: 5px !important;
        }
    }

    & .af-related-information {

        & .sv-font-stor-svart {
            margin: 0 0 5px 0 !important;
        }
    }
}