@import 'variables';

.af-uppleva-site {

    & .sv-font-stor-svart {
        font-size: 35px;
        margin: 40px 0 !important;
    }

    & .af-wave {

        &--shape {

            h1 {
                display: none;
            }
        }
    }

    & .af-puff {

        & .af-flexRow {

            & > div {
                display: flex;
            }
    
            & > * {
                max-width: 49%;
            }

            & img {
                max-height: 679px;
                margin-bottom: 0;
            }
        }

        & .sv-font-lankstig {
            margin: 0;
            font-size: 45px;
            font-weight: 700;
        }
    }

    & .af-menu {

        & .af-activeMenuItem {
            background-color: $nynas-green-color;
        }
    }

    & .af-startpageBigImage {
        background-image: url($startpageBigImage);
    }

    .af-uppleva-events {
        max-width: 1366px;
        margin: 0 auto;
        padding: 30px 80px;
    
        & .sv-font-stor-svart {
            font-weight: 700;
        }
    }

    & h1 {
        font-size: 50px;
        font-weight: 300;
    }

    & .af-event-detailpage {

        position: relative;

        &--bigImage {
            height: 860px;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }

        & .af-breadcrumb {
            position: absolute;
            top: 50px;
            left: 50px;
            background-color: $white-color;
            padding: 20px;
            border-radius: 6px;
        }
    }

    & .af-uppleva-site {

        & h1.heading {
            font-size: 35px;
            font-weight: 300;
            margin: 60px 0 50px 0;
        }
    }

    & .sv-decoration-generell-gron-platta {

        & h2 {
            margin: 0 !important;
            padding: 0 !important;
        }

        & h2:before {
            content: '';
            display: inline-block;
            background-image: url($speachBubbleIcon);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin-right: 15px;
            background-position: bottom;
            background-size: 20px;
        }

        & .sv-text-portlet-content {

            & .sv-font-brodtext-fet {
                margin-top: 25px;
            }

            & .sv-font-brodtext-fet:first-of-type {
                margin-top: 0;
            }

            & .sv-font-brodtext-fet + .normal {
                margin-top: 0;
            }
        }
    }

    & .sv-decoration-contentpage-share-social {

        & .af-share-container {
            background-color: $nynas-lightgreen-color;

            & .af-share-facebook {
                background-image: url($facebookGreyIcon);
            }

            & .af-share-linkedIn {
                background-image: url($linkedInGreyIcon);
            }

            & .af-share-twitter {
                background-image: url($twitterGreyIcon);
            }

            & .af-share-mail {
                background-image: url($mailGreyIcon);
            }
        }
    } 

    .sv-search-facets-header.sv-font-stor-svart {
        font-weight: 300;
        font-size: 25px;
        margin-bottom: 5px;
    }

    & .af-startpage-listing-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & .af-startpage-listing-item {
            width: 32.4%;
            margin-bottom: 20px;
        }

        & .af-startpage-listing-item-img {
            background-size: cover;
            background-position: center;
            padding-top: 56.25%;
        }

        & .af-startpage-listing-item-textContent {
            padding: 30px 20px;
            background-color: $nynas-lightgreen-color;
        }

        & .af-startpage-listing-item.af-item-1 {

            & .af-startpage-listing-item-img {
                padding-top: 114.6%;
            }
        }

        & .af-startpage-listing-item.af-item-2 {
            width: 66.2%;

            & .af-startpage-listing-item-img {
                padding-top: 56.25%;
            }
        }

        & .af-startpage-listing-item.af-item-6 {
            width: 49.3%;

            & .af-startpage-listing-item-img {
                padding-top: 86.66%;
            }
        }

        & .af-startpage-listing-item.af-item-7 {
            width: 49.3%;

            & .af-startpage-listing-item-img {
                padding-top: 86.66%;
            }
        }
    }
}