// COLORS
$blue-color: #312aeb;
$red-color: #c6538c;
$white-color: #fff;
$orange-color: #fcba03;
$grey-color: #575957;

$nynas-black-color: #414042;
$nynas-grey-color: #EDEBE9;

// IMAGES
$startpageBigImage: 'https://use-nynashamn-ext.sitevision.se/images/18.a5f223f171ac2fcd6d7b55/1588851890439/landscape-4.jpg';